@using Pogi.Entities
@model IEnumerable<Member>

@{
    ViewData["Title"] = "Members Gallery";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Presenting the POGI Family</h1>
        <p class="lead text-muted"> “As you walk down the fairway of life you must smell the roses, for you only get to play one round.” -Ben Hogan</p>

    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (Member member in Model)
            {
                var imgFile = "/images/Profile/" + member.FirstName + member.LastName + ".jpg";

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="fileinput card-img-top" src="@imgFile"
                             alt="Image not found" onerror="this.src='/images/profile/avatar.jpg';">
                        <div class="card-body">
                            <p class="card-text">@member.FirstName @member.LastName</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>@member.AboutMe</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        console.info("Hello From Gallery/Members");

        $(".fileinput").each(function () {
            //console.info("Hello before loadImage "
            //    + $(this).attr("src"));
            var element = $(this);
          loadImage(
                $(this).attr("src"),
                function (img) {
                    if (img.type === "error") {
                    }
                    else {
                        element.attr("src", img.toDataURL("image/jpeg"));
                        }
                },
                {
                    orientation: true,
                    maxWidth: 200
                } 
            );
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

