<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">POGI Swings by Example</h1>
            <p class="lead text-muted">"If you are caught on a golf course during a storm and are afraid of lightning, hold up a 1-iron. Not even God can hit a 1-iron."</p>
            <p class="text-lg-center">Lee Trevino</p>
            <p class="lead text-muted">"I think the golf swing is all about rotation, all about trying to keep the club on plane."</p>
            <p class="text-lg-center">Tiger Woods</p>

        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Ralph-Ferrer/i-ZQX2mSf/0/eeb178aa/S/2005PogiMorganHill-0031-S.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Ralph</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=S7FkFP&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Alden-Nacionales/i-fLvQFhg/0/1bd0d8c4/S/2005PogiMyrtleBeach-0095-S.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Alden</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=zbTW4L&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Musto-Khan/i-mJnWHKd/0/7dd38c34/S/2005PogiMyrtleBeach-0068-S.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Musto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=7s8krm&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>

                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Bong-Mapa/i-6gmBCB2/0/184a382b/M/2008-05-17-PogiRyder-5191-M.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Bong</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=hBdBLT&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Joey-Alfonso/i-qcTXc53/0/2c05d81e/S/2008-05-17-PogiRyder-5204-S.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Joey</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=SwS3Ln&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>

                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Tim-Caro/i-NZT93Vt/0/9988a5c9/M/2009PogiPPC-8783-M.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Tim</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=dzF8ML&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Mario-Balmater/i-fhft9Vq/0/62e67d16/M/2009PogiPPC-8976-M.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Mario</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=24NXpm&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Jimbo-DeLa-Cruz/i-m7dQQL3/0/6cae923d/M/2008-05-17-PogiRyder-5325-M.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Jimbo</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=fs4dVS&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Cesar-Zavalla/i-MDjQkcb/0/b89252fd/S/2007-05-19-PPC-rangeCesarZavalla-7-S.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Cesar Z</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=mQ7zj6&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://photos.smugmug.com/Pogi/Swing-Archive/Ed-Amisola/i-pz8PBK5/0/43856af4/S/2005PogiMyrtleBeach-0063-S.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Ed Amisola</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ngeslani.smugmug.com/frame/slideshow?key=6rXsNX&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
