@model Pogi.Models.PlayerViewModels.PlayerCreateModel

@{
    ViewData["Title"] = "Create";
    Member member = @Model.Member;
    Player player = @Model.Player;
}

<br />

<h2>Player</h2>

<h4>Registration</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="alert-info col ">
                @Html.DisplayFor(modelItem => member.FirstName)
                @Html.DisplayFor(modelItem => member.LastName)
            </div>
        </div>
    </div>
    <br />

    <form asp-action="Create">
        <div class="form-row">
            <input type="hidden" asp-for="Player.MemberId" />
            <div class="col col-md-6">
                <div class="form-group form-check-inline">
                    <label asp-for="PlayerPlaying" class="control-label "></label>
                    <input asp-for="PlayerPlaying" class="form-control" />
                    <span asp-validation-for="PlayerPlaying" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label asp-for="Player.GuestName" class="control-label"></label>
                    <input asp-for="Player.GuestName" class="form-control" />
                    <span asp-validation-for="Player.GuestName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label asp-for="Player.PlayDate" class="control-label"></label>
                    <input asp-for="Player.PlayDate" class="form-control" />
                    <span asp-validation-for="Player.PlayDate" class="text-danger"></span>
                </div>
            </div>
        </div>


        @*<div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preferTeeTimeId1" class="control-label"></label>
                <input asp-for="preferTeeTimeId1" class="form-control" />
                <span asp-validation-for="preferTeeTimeId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preferTeeTimeId2" class="control-label"></label>
                <input asp-for="preferTeeTimeId2" class="form-control" />
                <span asp-validation-for="preferTeeTimeId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preferTeeTimeId3" class="control-label"></label>
                <input asp-for="preferTeeTimeId3" class="form-control" />
                <span asp-validation-for="preferTeeTimeId3" class="text-danger"></span>
            </div>*@
        <br />
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div>
            <a asp-controller="TeeTime" asp-action="Index">Back to Tee Times</a>
        </div>
    </div>
</div>




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
