<section>

    <div class="p-3 bg-light rounded">

        <h4 id="2019Schedule" class="text-info">2020 Schedule</h4>
        <ol class="list-unstyled mb-0">
            <a href="#2020Schedule">
                Memorial
            </a>
            <li>
                May 16, 2020 12:30pm - Fox Hollow
            </li>
            <li>
                Commissioner Ralph
            </li>
            <li>
                <br />
                <a href="#2020Schedule">
                    POGI Open
                </a>
                <br />June 27 11:45am - Eagle Ridge<br /> Cooordinator Jimbo
            </li>
            <li>
                <br />
                <a href="#2020Schedule">
                    POGI Invitational
                </a>
                <br />August 15 11:00am - Neshanic<br />
                Financed by County Resident Bong
            </li>
 

        </ol>
    </div>
    <hr />
    <div class="p-3 mb-3 bg-light rounded">

        <h4 id="2019GA" class="text-info">Quotable Quotes</h4>
        <span class="text-muted font-weight-light">sometimes we <span class="font-weight-bold">DO</span> mean what we say!</span><br /><br />
        <div class="alert alert-secondary">
            no more <i>SOMETHING CAME UP</i> ! - Digong
        </div>
        <div class="alert alert-secondary">
            I'm going to decide and need no objection (man that feels good!) - chief Decision Maker
        </div>



    </div>

    <hr />
    <div class="p-3 bg-light rounded">

        <h4 id="2020Schedule" class="text-info">2020 Handicap Revision Schedule</h4>
        <div class="row text-info">
            <div class="col">Revision #</div>
            <div class="col">Transmit By</div>
            <div class="col">Effective Date</div>
        </div>
        <div class="row">
            <div class="col">1</div>
            <div class="col">3/31/2020</div>
            <div class="col">4/1/2020</div>
        </div>
        <div class="row">
            <div class="col">2</div>
            <div class="col">4/14/2020</div>
            <div class="col">4/15/2020</div>
        </div>
        <div class="row">
            <div class="col">3</div>
            <div class="col">4/30/2020</div>
            <div class="col">5/1/2020</div>
        </div>
        <div class="row">
            <div class="col">4</div>
            <div class="col">5/14/2020</div>
            <div class="col">5/15/2020</div>
        </div>
        <div class="row">
            <div class="col">5</div>
            <div class="col">5/31/2020</div>
            <div class="col">6/1/2020</div>
        </div>
        <div class="row">
            <div class="col">6</div>
            <div class="col">6/14/2020</div>
            <div class="col">6/15/2020</div>

        </div>
        <div class="row">
            <div class="col">7</div>
            <div class="col">6/30/2020</div>
            <div class="col">7/1/2020</div>
        </div>
        <div class="row">
            <div class="col">8</div>
            <div class="col">7/14/2020</div>
            <div class="col">7/15/2020</div>

        </div>
        <div class="row">
            <div class="col">9</div>
            <div class="col">7/31/2020</div>
            <div class="col">8/1/2020</div>
        </div>
        <div class="row">
            <div class="col">10</div>
            <div class="col">8/14/2020</div>
            <div class="col">8/15/2020</div>

        </div>
        <div class="row">
            <div class="col">11</div>
            <div class="col">8/31/2020</div>
            <div class="col">9/1/2020</div>
        </div>
        <div class="row">
            <div class="col">12</div>
            <div class="col">9/14/2020</div>
            <div class="col">9/15/2020</div>

        </div>
        <div class="row">
            <div class="col">13</div>
            <div class="col">9/30/2020</div>
            <div class="col">10/1/2020</div>
        </div>
        <div class="row">
            <div class="col">14</div>
            <div class="col">10/14/2020</div>
            <div class="col">10/15/2020</div>

        </div>
        <div class="row">
            <div class="col">15</div>
            <div class="col">10/31/2020</div>
            <div class="col">11/1/2020</div>
        </div>
        <div class="row">
            <div class="col">16</div>
            <div class="col">11/14/2020</div>
            <div class="col">11/15/2020</div>

        </div>
    </div>
</section>