<section>
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Sophomore Year</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">UnSuck Yourself</a>
                        </h3>
                        <div class="mb-1 text-muted">Feb 14,2019 President Jess</div>
                        <p class="card-text mb-auto">Dear POGI of 2019,</p>
                        After a long and depressing winter season, I am now beginning to feel the excitement of starting this year’s golf
                        <a href="/home/index/#JessMsg">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="~/images/Jess_Bautista3.jpg" height="250" width="200" alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Outgoing</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">POGI is (already) great</a>
                        </h3>
                        <div class="mb-1 text-muted">Mar 10, 2018 ex-President Joey</div>
                        <p class="card-text mb-auto">
                            For the past two years, it has been a privilege and honor ...
                        </p>
                        <a href="/home/index2/#JoeyMsg">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="~/images/Alfonso_Joey3.jpg" height="250" width="200" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</section>