<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">POGI.CLUB</h1>
            <p>This site is under construction. Watch our progress.</p>

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Revision Log</h2>
                <p>
                    <em class="text-info">04/22/2018</em> Leaderboard, Outstanding Performances<br>
                    <em class="text-info">04/22/2018</em> Net Score Calculation<br>
                    <em class="text-info">04/21/2018</em> Handicap Index Maintain enabled<br>
                    <em class="text-info">04/10/2018</em> TeeTime Assignment enabled<br>
                    <em class="text-info">04/08/2018</em> Confirm/Witdraw Registration, Admin initiated TTime Registration, Tag Major Tours<br>
                    <em class="text-info">04/04/2018</em> Gallery of Members<br>
                    <em class="text-info">04/03/2018</em> Member Profile<br>
                    <em class="text-info">03/31/2018</em> Activated Forum, Google Logon <br>
                    <em class="text-info">03/28/2018</em> Enabled SSL, Facebook Logon <br>
                    <em class="text-info">03/25/2018</em> Gallery of Swings uploaded<br>
                    <em class="text-info">03/25/2018</em> Score Single Entry pushed<br>
                    <em class="text-info">03/21/2018</em> Scores display using bootstrap-table pushed.
                    Score Entry work in progress.<br />
                    <em class="text-info">03/21/2018</em> Started this running log.
                </p>
            </div>
            <div class="col-md-4">
                <h2>To Do</h2>
                <ul>
                    <li>LeaderBoard: Low Net of the Week, Month, Season</li>
                    <li>Email Notifications/Confirmations for TeeTime</li>
                    <li>Hook for GHIN posting and inquiry</li>
                    <li>Live tournament scoring</li>
                    <li>Gallery/Albums - Done</li>
                    <li>Discussion Board/Forum - Done</li>
                    <li>Looking for a FileStorage plugin - Done, thru Forum</li>
                    <li>Looking for a Marketplace plugin - Done, thru Forum</li>
                    <li>Extend login with FB, Google - Done</li>

                </ul>
            </div>
            <div class="col-md-4">
                <h2>Powered by</h2>
                We develop using:<br />
                ASP.NET Core, MVC, Web API<br />
                Entity Frameworks, Code First<br />
                Bootstrap<br />
                JQuery<br />
                SQLServer<br />
                Site is hosted at Azure.<br />
                Mail is enabled by SendGrid<br />
                Some 3rd party plugins in use:<br />
                lightgallery.js                <br />
                mvcforum<br />
                loadimage.js<br />

                Code is published in github, repo at<br />
                https://github.com/ngeslani63/Pogi

            </div>


        </div>

        <hr>

    </div> <!-- /container -->

</main>

