<div class="container">
    <h2>General Meeting</h2>
    <h4>From the Office of the President</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="alert alert-info col-xs-12">
                Please reserve the date:
            </div>
        </div>
        <div class="row">
            <div class="alert alert-warning col-xs-3">
                What:
            </div>
            <div class="col-xs-9">
                Pogi General Assebly Meeting
            </div>
        </div>
        <div>
            <div class="row">
                <div class="alert alert-warning col-xs-3">
                    When:
                </div>
                <div class="col-xs-9">
                    March 10, 9AM
                </div>
            </div>
            <div class="row">
                <div class="alert alert-warning col-xs-3">
                    Where:
                </div>
                <div class="col-xs-9">
                    Clearbrook Golf Course - 1 Clearbrook Dr, Monroe Township, NJ 08831
                </div>
            </div>

            <div class="row">
                <div class="alert alert-warning col-xs-3">
                    What to Bring:
                </div>
                <div class="col-xs-9">
                    Money or Check (Don't write on the check yet).
                </div>
            </div>
            <div class="row">
                <div class="alert alert-warning col-xs-3">
                    Food:
                </div>
                <div class="col-xs-9">
                    Filipino Breakfast
                </div>
            </div>
            <br />
            <div class="row">
                <div class="alert alert-info col-xs-12">
                    Jess Bautista
                </div>
            </div>


        </div>
    </div>
