<div class="container">
    <br />
    <h2>General Meeting</h2>
    <h4>From the Office of the President</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="alert alert-info col col-xs-12">
                Please reserve the date:
            </div>
        </div>
        <div class="row">
            <div class="col alert alert-info col-xs-2">
                What:
            </div>
            <div class="col col-xs-10">
                Pogi General Assebly Meeting
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col alert alert-info col-xs-2">
                    When:
                </div>
                <div class="col col-xs-10">
                    March 10, 10AM
                </div>
            </div>
            <div class="row">
                <div class="col alert alert-info col-xs-2">
                    Where:
                </div>
                <div class="col col-xs-10">
                    Teppanyaki Grill and Supreme Buffet at Rt 18S, Eas
                </div>
            </div>

            <div class="row">
                <div class="col alert alert-info col-xs-2">
                    What to Bring:
                </div>
                <div class="col col-xs-10">
                    Money or Check (Don't write on the check yet).
                </div>
            </div>
            <br />
            <div class="row">
                <div class="alert alert-info col col-xs-12">
                    Jess Bautista
                </div>
            </div>


        </div>
    </div>
</div>
