@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    @Html.Partial("_IndexBannerPartial")
    @Html.Partial("_IndexCards2020Partial")


    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div id="Tales">
                    <h2 class="text-info pb-3 mb-4 border-bottom">
                        Tales from the Short Grass
                    </h2>
                </div>
                <div class="blog-post">

                    <h2 class="blog-post-title">Musto's Corner</h2>
                    <p class="blog-post-meta">May 30, 2020 by <a href="#">the Great Khan</a></p>

                    <h4 class="text-secondary"> 2020 Mini Tour #1</h4>
                        <p>Pogi mini tour is in full swing. Congratulations to the club for continuing golfing activities after being locked down for several weeks. This is our second tournament and we are following all CDC guide lines to stay safe. Social distancing, face mask, sanitizing and so on.</p>
                        <p>The mini tour at Bunker Hill made us realize how much we miss golf and how precious our long standing relationship is. We were so happy when we saw each other in the parking lot and it only got better from there on.</p>
                        <p>This is the same group of guys who not too long ago were on the Pogi chat discussing wide ranging topics from quantum mechanics schrodinger cat to discount membership on PH. It was good to see them on the course, in the fresh air again.</p>
                        <p>I was surprised how sharp the guys games are even though it is only our second tournament and we were locked down for so long.<p>
                        <p>It was fun watching Barry painstakenly play each hole. His struggles, focus and rewards is what this game is all about. He is a straight hitter with a nice baby draw.<p>
                        RESULTS:
                        <p>Jimbo DeLa Cruz is the champion sporting new glasses and looking like a professor. His net score was 69 and won the $35 prize. He is a phenomenal golfer when his game is on par.<p>
                        <p>First runner up was Joey Alfonso with a net of 70. ThIs marathon runner and tri athlete looks very fit.</p>
                        <p>Second runner up was the dynamic Jess Bautista with a net score of 71. Competing with one hand taped up.</p>
                        <p>Third runner up was our front line hero Ralph Ferrer with a net score of 72. We cannot thank you enough for the nursing work you do in these dangerous covid 19 times.<p>
                        <p>Thanks to the coordinators especially Ralph. We look forward to the next game. See you all soon. BE LONG...</p>
                    <p>
                        For complete scores see the <a href="/Score/?TourId=18">Logbook</a> <br />
                        You can see our winners at the <a href="/Score/Podium/?TourId=18">Podium</a>
                    </p>
                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 30, 2020 by Bong, Mario, Joey</p>
                    <div id="lightgallery2">
                        <a href="~/images/News_20200530/Bong1.jpg">
                            <img class="" src="~/images/News_20200530/Bong1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Bong2.jpg">
                            <img class="" src="~/images/News_20200530/Bong2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Bong3.jpg">
                            <img class="" src="~/images/News_20200530/Bong3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Bong4.jpg">
                            <img class="" src="~/images/News_20200530/Bong4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Bong5.jpg">
                            <img class="" src="~/images/News_20200530/Bong5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Bong6.jpg">
                            <img class="" src="~/images/News_20200530/Bong6_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Mario1.jpg">
                            <img class="" src="~/images/News_20200530/Mario1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Joey1.jpg">
                            <img class="" src="~/images/News_20200530/Joey1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Joey2.jpg">
                            <img class="" src="~/images/News_20200530/Joey2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Joey3.jpg">
                            <img class="" src="~/images/News_20200530/Joey3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Joey4.jpg">
                            <img class="" src="~/images/News_20200530/Joey4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200530/Joey5.jpg">
                            <img class="" src="~/images/News_20200530/Joey5_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>

                </div>
                <div class="blog-post">

                    <h2 class="blog-post-title">For Pootsie</h2>
                    <p class="blog-post-meta">May 16, 2020 by <a href="#">penned by Manny with contributions from Jess and Ralph</a></p>

                    <h4 class="text-secondary"> 2020 POGI Memorial Tournament</h4>
                    <p>
                        A historic and unprecedented POGI event kicked off at 1pm last Saturday, 5/16, in Fox Hollow G.C. on a golf-perfect-weather day as 14 members braved the COVID-19 restricted playing conditions with face masks and solo-riding carts to, comply with social distancing guidelines.  Flags, untouched, stayed in the holes. No rakes in and around the sand traps. No ball washers by the tee boxes.  In as much as everyone was excited to play again, there was a pall over the event as we remembered Pootsie and Charlie who passed away, taken by the virus untimely.  Before the first two-some teed off, the group gathered in a circle at the parking lot to remember both fine gentlemen and expressed gratitude that everyone (in POGI) was healthy and able to come out to enjoy the competitive day.
                    </p>
                    <p>
                        The tournament venue was in great shape - fast undulating greens, sloping fairways, and unmolested tee boxes.  The tough lies on the fairways and fast greens resulted in predominantly higher-than-normal golf scores.  There were a few flashes of brilliance, however, with 3 birdies recorded by Dino, Bong and Jess.  Shot-of-the-day was unanimously awarded to Bong's birdie shot on the 4th hole, par 3, from 86 yards short of the green!  Someone whispered that the ball was likely closer to the tee box than to the green!
                    </p>
                    <p>
                        Some of us hung around the 18th green to watch the rest of the group finished their 3-hour-something rounds.  Despite some high scores, all participants enjoyed the day.  But, alas, there was no awarding ceremony, no usual after-game food and drinks to be had.  Awkwardly, we said our goodbyes to each other as we walked back to our cars in the parking lot.  Hoping for the 'old days' when we can shake hands or give each other hugs but quietly knowing that we now live in very different world, we each drove off as the sun started to cast longer shadows of the trees along Fox Hollow's driveway.
                    </p>

                    <h4 class="text-secondary">The Official Results</h4>
                    <p>
                        Low Gross Champion - Jess Bautista, Gross 81<br />
                        Low Net Champion - Manny Domantay, Gross 89, Net 74 <br />
                        Low Net 1st Runner Up - Mario Balmater, Gross 91, Net 77<br />
                        Low Net 2nd Runner Up - Boyet Lengson, Gross 94, Net 80 <br />
                        Low Net 3rd Runner Up - Ralph Ferrer, Gross 97, Net 81 <br />
                        For complete scores see the <a href="/Score/?TourId=16">Logbook</a> <br />
                        You can see our winners at the <a href="/Score/Podium/?TourId=16">Podium</a>
                    </p>


                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 16, 2020 by Jess, Bong, Joey</p>
                    <div id="lightgallery">
                        <a href="~/images/News_20200516/2020PogiMemorial-5.jpg">
                            <img class="" src="~/images/News_20200516/2020PogiMemorial-5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200516/2020PogiMemorial-6.jpg">
                            <img class="" src="~/images/News_20200516/2020PogiMemorial-6_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200516/2020PogiMemorial-1.jpg">
                            <img class="" src="~/images/News_20200516/2020PogiMemorial-1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200516/2020PogiMemorial-2.jpg">
                            <img class="" src="~/images/News_20200516/2020PogiMemorial-2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200516/2020PogiMemorial-3.jpg">
                            <img class="" src="~/images/News_20200516/2020PogiMemorial-3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20200516/2020PogiMemorial-4.jpg">
                            <img class="" src="~/images/News_20200516/2020PogiMemorial-4_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>

                </div>

                <span id="MannyMsg"></span>
                <div class="blog-post">

                    <h2 class="blog-post-title">From the President's Desk</h2>

                    <p class="blog-post-meta">May 17, 2020 by <a href="#">Manny Domantay</a></p>
                    <p>
                        Dear POGI golfers,
                    </p>
                    <p>
                        Welcome back to the opening of the 2020 Golf Season!  I know that we all wish that the COVID-19 virus never arrived to not only interfere with our beloved game, but also to drastically change the world as we knew it.  We've seen close up the devastation it caused when Pootsie and Charlie were taken from us untimely, and millions of people who lost their jobs.
                    </p>
                    <p>
                        Please join me in saying a short prayer for our fallen golf mates, and give a huge shout out for our members (and family) in the healthcare services who have shown extra ordinary courage in the midst of our fight against this viru
                    </p>
                    <p>
                        With hope and cautious optimism, let's unite and celebrate our love for the game by keeping in touch with one another, virtually or otherwise.  Some of us will continue to fight on the front lines, some, fortunate enough, will work from home, and some may be unlucky to lose their jobs.  Let's support each other during these challenging times.  However long this tunnel we're currently in, we will come out at the end of it.  I hope to see you all, one time or another, during this season.
                    </p>
                    <p>
                        By the time this letter comes to you, we would have completed our first tournament of the season - 2020 Memorial Championship at the Fox Hollow GC.  Due to the existing restrictions and individual levels of risk aversion, the roster will relatively be short, but would certainly be grateful for the opportunity to compete, rib each other, and personally share our stories during the lock down.
                    </p>
                    <p>

                        Wishing you all an enjoyable, healthy season.  Here's to fairways, greens, and a few hazards!  It's great to be alive.
                    </p>
                    <p>
                        Manny D
                    </p>
                </div><!-- /.blog-post -->

                <span id="JessMsg"></span>
                <div class="blog-post">

                    <h2 class="blog-post-title">Playing Through</h2>

                    <p class="blog-post-meta">May 20, 2020 by <a href="#">Jess Bautista</a></p>
                    <p>
                        My POGI Comrades,
                    </p>
                    <p>
                        My term as POGI president have reached the 18th hole and it's time to pass the baton. It's been an honor and my pleasure to serve you as POGI President for the past two years. I have to admit that the job was not hard at all because we have great people who always makes the effort to lead every tournament we played for the past two years. And I'd like to take this opportunity to express my sincere thank you to all the commissioners, the executive committee, and all the members who supported the league during my term.
                    </p>
                    <p>
                        As we move forward to a new beginning, I am so grateful that we will be led by an awesome guy who drives a porsche, a convertible, had a hole in one and very a generous friend. I can assure you that we will be in good hands under Manny's Presidency.
                    </p>
                    <p>
                        As for me, I'm not going anywhere so Jesse's here to stay and wants to play. Like what the hit song says - "You can check out anytime you want but you can never leave".
                    </p>
                    <p>
                        Mabuhay ang POGI!
                    </p>
                    <p>
                        Jess Bautista</br>
                        POGI President, 2018-2020
                    </p>
                </div><!-- /.blog-post -->


                <nav class="blog-pagination">
                    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                    <a class="btn btn-outline-primary" href="/home/index4/#Tales">Older</a>
                </nav>

            </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">
                    @Html.Partial("_IndexSide2020Partial")
                </aside>


        </div><!-- /.row -->

    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            console.info("Hello From Home Index");
            console.info("Hello before lightGallery Call");
            $(document).ready(function () {
                $("#lightgallery2").lightGallery();
                $("#lightgallery").lightGallery();
            });
            console.info("Hello after lightGallery Call");

        });

    </script>
}
