@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    @Html.Partial("_IndexBannerPartial")
    @Html.Partial("_IndexCards2019Partial")


    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div id="Tales">
                    <h2 class="text-info pb-3 mb-4 border-bottom">
                        Tales from the Short Grass
                    </h2>
                </div>
                <div class="blog-post">

                    <h2 class="blog-post-title">Musto's Corner</h2>
                    <p class="blog-post-meta">August 10, 2019 by <a href="#">the Great Khan</a></p>

                    <h4 class="text-secondary"> 2019 POGI Invitational</h4>
                    <p>
                        The 2019 Pogi Invitational just concluded at the fabulous Neshanic Golf Course in Neshanic valley. It was a perfect day for Golf and we took advantage of it. The turnout was quite large and talented. We played the blue tees which was a tough but fair test of the participants skill level.
                    </p>
                    <p>
                        Top talent dominated the leader board. These guys can hit it straight and far. It was nice to see that we all finished close to each other on a difficult course. Congratulations to  the league administrators for putting an end to slow play. The game is much more enjoyable.
                    </p>
                    <p>
                        It was nice to see Pogi fathers and sons playing in the same tournament. Those young men are mannerly and respectable. Congratulations dads for raising such good young men.
                    </p>
                    <p>
                        Cesar Zavalla continues to show his talent by taking low gross honors with a score of 88. We cannot tease him about sandbagging since this is a gross score.
                    </p>
                    <p>
                        Joey Alfonso took the low net with a net score of 75. He birdied the very difficult 18th hole. This marathon runner and iron man can really play the game. He is also long and accurate. He has a lot of hobbies.
                    </p>
                    <p>
                        First runner up went to Melvin Mendoza. This young man is also long and accurate. He is flexible and strong. He was 20 yards short of the green on one of the par four. He can curve his drives left and right so he stays on the fairway.
                    </p>
                    <p>
                        Second runner up went to Barry Reyes with a net score of 77. He is patient and accurate. I am happy to see Barry do well. Congratulations Mr. Reyes. You deserve your success.
                    </p>
                    <p>
                        Third runner up went to Emil Narciso with a net score of 79. He has been a good golfer for a very long time. There is a 48 years old gap between the first runner up and the third runner up.
                    </p>
                    <p>
                        Closest to the pin went to Emil and Jess. Longest drive was won by no other than the smasher Adrian Balmater.
                    </p>
                    <p>
                        Congratulations to Bong and his team for putting on a well run tournament. It was enjoyable to have our  new members and our guests participate.
                    </p>
                    <p>
                        Thanks to our outgoing president Jess Bautista and his team for leading us through the last two years. We understand that it is a lot of work and we appreciate your hard work. Pogi is better because of you and your team. Nestor new website has done wonders for the league. Alex photograghy is fun
                    </p>
                    <p>
                        The food and karaoke after the game was good. We have a new president Manny Domantay who will guide  us through the next 2 years. We look forward to your guidance Mr President.
                    </p>
                    <p>
                        Thank You.
                    </p>
                    <h4 class="text-secondary">The Official Results</h4>
                    <p>
                        Low Gross Champion - Cesar Zavalla, Gross 88, Net 76<br />
                        Low Net Champion - Joey Alfonso, Gross 88, Net 75 <br />
                        Low Net 1st Runner Up - Melvin Mendoza, Gross 91, Net 75<br />
                        Low Net 2nd Runner Up - Barry Reyes, Gross 96, Net 77 <br />
                        Low Net 3rd Runner Up - Emil Narciso, Gross 98, Net 79 <br />
                        Closest to the Pin - Emil Narciso and Jess Bautista<br />
                        Long Drive Champion - Adrian Balmater<br />
                        For complete scores see the <a href="/Score/?TourId=10">Logbook</a> <br />
                        You can see our winners at the <a href="/Score/Podium/?TourId=10">Podium</a>
                    </p>


                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">August 10, 2019 by Alex, Ed, Jess</p>
                    <div id="lightgallery">
                        <a href="~/images/News_20190810/Alex1.jpg">
                            <img class="" src="~/images/News_20190810/Alex1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex2.jpg">
                            <img class="" src="~/images/News_20190810/Alex2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Jess3.jpg">
                            <img class="" src="~/images/News_20190810/Jess3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Jess1.jpg">
                            <img class="" src="~/images/News_20190810/Jess1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Jess2.jpg">
                            <img class="" src="~/images/News_20190810/Jess2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex3.jpg">
                            <img class="" src="~/images/News_20190810/Alex3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex4.jpg">
                            <img class="" src="~/images/News_20190810/Alex4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex5.jpg">
                            <img class="" src="~/images/News_20190810/Alex5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex6.jpg">
                            <img class="" src="~/images/News_20190810/Alex6_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex7.jpg">
                            <img class="" src="~/images/News_20190810/Alex7_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex8.jpg">
                            <img class="" src="~/images/News_20190810/Alex8_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex9.jpg">
                            <img class="" src="~/images/News_20190810/Alex9_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex10.jpg">
                            <img class="" src="~/images/News_20190810/Alex10_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Alex11.jpg">
                            <img class="" src="~/images/News_20190810/Alex11_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190810/Ed1.jpg">
                            <img class="" src="~/images/News_20190810/Ed1_tn.jpg" />
                        </a>



                    </div>
                    <p>Click thumbnails for viewer</p>

                </div>
                <div class="blog-post">
                    <h2 class="blog-post-title">Scottish veterans blows out field at 2019 POGI Memorial</h2>
                    <p class="blog-post-meta">June 08, 2019<a href="#"></a></p>
                    <h4 class="text-secondary">Balmater and Mapa on top</h4>
                    <p>
                        On a weather perfect day, the gale-hardened veterans of Mario Balmater and Bong Mapa ruled
                        the Royce Brook grounds to take top honors at the 2019 Pogi Memorial. Fresh off their adventure
                        at the unforgiving Scottish links ( with uneven fairways, unescapable bunkers and windswept greens), the
                        course proved tame enough for the practiced duo,  both logging the day's low scores.
                        President Jess, another links journeyman was not too far behind.
                        Mario was awarded low gross and Bong low net. <br />
                        There was good turnout, with faces old and new , practiced and rusty swings, all eager.<br />
                        Onni Santos, Ed Mendoza and Jimbo de la Cruz round up the 1st, 2nd and 3rd runner up positions.
                        A reinvigorated Rupert Landicho grabbed Closest to the Pin while young gun Adrian Balmater took the Long Drive.
                    </p>
                    <h4 class="text-secondary">New Rules</h4>
                    <p>
                        Like clockwork, our resident golf Commissioner Ralph ran a well oiled tournament and implemented 2 new rules this tournament.<br />
                        1. Out of bounds are 2 strokes penalty when next play is at point of entry.
                        This is now allowed as a local rule by new 2019 USGA rules.<br />
                        2. Players with greater than 23 handicap can opt to tee it forward on the shorter
                        tee color.
                        This proved popular with our senior participants Rupert and Jun Solidum.
                        Rupert bagged the closest to the pin and Jun almost secured the longest drive honors
                        <br />
                    </p>
                    <h4 class="text-secondary">Heard around the tournament</h4>
                    <p>
                        "Adrian got a free Pro lesson from our veteran coach Ed Amisola.
                        Adrian showed signs of becoming a champion someday and he can hit the ball a mile long,
                        which resulted on winning the longest drive." - Jess
                    </p>
                    <p>
                        "I know moving the tee box was not amenable to the low handicaps
                        but I'm really glad that we  made a lot players excited about the outcome including Rupert
                        making a birdie and winning one of the closest to the pins." - Ralph
                    </p>
                    <p>
                        "Whatever works!" - Jimbo, Nestor and Ricky on watching Jerson's unusual but
                        very repeatable and powerful swing
                    </p>
                    <p>
                        "Rupert and Jun Solidum took advantage of the great weather,
                        I mean the ladies tee and was able to bag closest to the pin....and almost got the longest drive!" - Jess
                    </p>
                    <div class="p-3 mb-3 bg-light rounded">
                        <h4 class="text-info">How it went down</h4>
                        <p class="blog-post-meta">June 08 ,2019 A first person experience by Mario</p>
                        <div class="alert alert-secondary">
                            <p>
                                We were so excited to play. Weather was perfect and it was really nice day to play golf.
                                We hit a good drive on the first hole but ended up with double bogey on the hole.
                                After that I kind of got into the groove. I had 3 pars and a birdie in 4 holes.
                                I was so excited in the par 3 when I saw my shot only 2 feet maybe less from the hole.
                                I was about to put my name on the (closest to the pin) sheet  but ‘darn’ the writing is in Chinese character.
                                Rommel was making fun of me ; told me to put my name in Korean…  Ha ha, but I got the birdie. I got my mojo back.
                                It relaxed me big time.
                            </p>
                            <p>
                                It did not sink in to me that I have a chance until the fourteenth or fifteenth hole when Rommel and Warren’s cart ran out of batteries.
                                Onni played better in the back nine and  was making a run for it to place or win.
                                That’s what pushed me to play better. I told Onni we need to make pars and so we did.
                            </p>
                            <p>
                                It was really a great day for me. I came out there thinking just breaking 90 to place, but I didn’t expect to beat Bong by a hair.
                                I had a great time not just because I won but the experience of being with the great group.
                                I played with Onni before. I knew he’s one heck of a golf player and the two guys (Warren & Rommel) were amazing.
                                I need to know them more, what a character.
                            </p>
                            <p>
                                The golf outing was more enjoyable. Even Mr.
                                Rupert had a birdie, closest to the pin and a chance for longest drive.
                                Thanks commissioner Ralph, we enjoyed the outing.
                            </p>
                        </div>
                    </div>
                    <h4 class="text-secondary">The Official Results</h4>
                    <p>
                        Low Gross Champion - Mario Balmater , Gross 83, Net 69<br />
                        Low Net Champion - Bong Mapa, Gross 83, Net 71 <br />
                        Low Net 1st Runner Up - Onni Santos Gross 95, Net 74<br />
                        Low Net 2nd Runner Up - Ed Mendoza, Gross 88, Net 74 <br />
                        Low Net 3rd Runner Up - Jimbo De La Cruz, Gross 89, Net 75 <br />
                        Closest to the Pin - Rupert Landicho<br />
                        Long Drive Champion - Adrian Balmater<br />
                        For complete scores see the <a href="/Score/?TourId=8">Logbook</a> <br />
                        You can see our winners at the <a href="/Score/Podium/?TourId=8">Podium</a>
                    </p>

                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">June 08 ,2019 by Jess, Jerson, Jimbo and Nestor</p>
                    <div id="lightgallery2">
                        <a href="~/images/News_20190608/IMG_7326.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7326_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7334.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7334_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7336.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7336_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7338.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7338_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7339.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7339_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7340.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7340_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7342.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7342_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7347.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7347_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7349.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7349_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7353.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7353_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7354.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7354_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190608/IMG_7355.JPG">
                            <img class="" src="~/images/News_20190608/IMG_7355_tn.jpg" />
                        </a>

                    </div>
                    <p>Click thumbnails for viewer</p>

                </div><!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">PPC - 1st POGI event concluded on a blustery day</h2>
                    <p class="blog-post-meta">April 27, 2019 by <a href="#">Nestor Geslani</a></p>
                    <h4 class="text-secondary">Ralph nets a win, Jess gross outs everybody </h4>
                    <p>
                        Channeling his inner "Master's" experience, Ralph Ferrer navigated the windy hills of High Bridge Hills Golf Club
                        to net the 1st major tour event of 2019. High Bridge Hills was a cauldron of gusty and turbulent winds.
                        A high launch against the tempest most assuredly stops it short. The balls are even agitated on the greens and struggled to roll true.
                        <br />Ralph credits his calm, steady play with having witnessed Tiger at his most historic performance at the Masters. The lone birdie he jammed in was
                        a Tigeresque chip in from 40 yards.<br /> We cannot argue with his results.
                    </p>
                    <p>
                        President Jess declared himself ready for the links of Scotland overpowering the feeble gale.
                        Carding a low gross of 82, he logged in 6 pars and collected moolah on 3 birdies.
                    </p>
                    <p>
                        Ed Mendoza rounds out the podium finishers with a steady 87 gross, net 72. <br />
                        Our two new members Rommel and Onni battled for 2nd and 3rd runner up honors with an equitable net of 75 with Rommel
                        only prevailing on the tiebreaker. Welcome to our new members.

                    </p>
                    <h4 class="text-secondary">Good Food</h4>
                    <p>
                        Commissioner Mario made sure the players were properly nourished at the onset. Loot bags were surreptitiously
                        distributed to the foursomes with explicit instructions to be consumed only after the 2nd hole lest we incur the
                        wrath of the club officials. The cart girls were continually disappointed and waved off. The POGI players dipping into their
                        provisions, sustained by an Empanada, banana and a protein bar.
                        <br />
                        After the game, we were treated to a feast at the Flaming Grill Buffet where amidst the weekend dinner crowd
                        we carved some space to recognize our tournament winners. We were already merry, fulfilled and contented until President Jess
                        saw fit to sugar the deal by distributing free balls and gloves to everybody in atttendance. <br />
                        POGI dollars bring good bang for the buck.

                    </p>
                    <h4 class="text-secondary">The Official Results</h4>
                    <p>
                        Low Gross Champion - Jess Bautista , Gross 82, Net 72<br />
                        Low Net Champion - Ralph Ferrer, Gross 89, Net 71 <br />
                        Low Net 1st Runner Up - Ed Mendoza, Gross 87, Net 72<br />
                        Low Net 2nd Runner Up - Rommel Quizon, Gross 101, Net 75 (won on tiebreaker)<br />
                        Low Net 3rd Runner Up - Onni Santos, Gross 99, Net 75 <br />
                        Closest to the Pin - Alex Rima<br />
                        Long Drive Champion - Jess Bautista<br />
                    </p>

                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">April 27,2019 by <a href="#">Nestor</a></p>
                    <div id="lightgallery3">
                        <a href="~/images/News_20190427/2019PogiPPC-00.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-00_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-01.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-01_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-02.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-02_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-03.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-03_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-04.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-04_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-05.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-05_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-06.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-06_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-07.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-07_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-08.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-08_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-10.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-10_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-11.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-11_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-12.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-12_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-13.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-13_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-14.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-14_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-15.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-15_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-16.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-16_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-17.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-17_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-18.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-18_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-19.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-19_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-20.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-20_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-21.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-21_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-22.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-22_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-23.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-23_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-30.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-30_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-31.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-31_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-32.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-32_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-33.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-33_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-34.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-34_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-35.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-35_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-36.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-36_tn.jpg" />
                        </a>
                        <a href="~/images/News_20190427/2019PogiPPC-37.jpg">
                            <img class="" src="~/images/News_20190427/2019PogiPPC-37_tn.jpg" />
                        </a>

                    </div>
                    <p>Click thumbnails for viewer</p>
                    <p>

                </div><!-- /.blog-post -->


                <span id="JessMsg"></span>
                <div class="blog-post">

                    <h2 class="blog-post-title">From the President's Desk</h2>

                    <p class="blog-post-meta">February 14, by <a href="#">Jess Bautista</a></p>
                    <p>
                        Dear POGI of 2019,
                    </p>
                    <p>
                        After a long and depressing winter season, I am now beginning to feel the excitement of starting this year’s golf season.
                        I know all of you, including myself are very eager to start  swinging that golf club again and feel the excitement in hitting that first drive.
                    </p>
                    <p>
                        Imagine standing on the tee box, making your practice swing several times, then you make that move to setup and prepare to launch your very first drive of the year.
                        Try to release that energy that you have been saving for very long time.
                    </p>
                    <p>
                        Then the moment of truth,
                        you eagerly started your back swing and then on your downswing you pounded the golf ball with all the power you’ve got…….. then you said……..”Ooh shit!” or maybe “Oh Noh!”.
                        Well, I guess you know what that means, either you topped the ball,  hit a hook or sliced it(or half a cake).
                    </p>
                    <p>
                        But you know what’s good?... even you hit a bad shot like that, you’re POGI friends will give you the best excuse in the world,
                        he’ll say…..”oh still early for the year” or “wala pang practice”.
                        Yep, that is what POGI is all about, he’ll give you the motivation to make a better swing on next hole.  But you still “You sucked!” 😊 😊.

                    </p>
                    <p>

                        So, un-suck  yourself and start playing lots of golf! So pay your dues now and let the fun begin.
                    </p>
                    <p>
                        Jess
                    </p>
                </div><!-- /.blog-post -->


                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="/home/index/#Tales">Newer</a>
                    <a class="btn btn-outline-primary" href="/home/index3/#Tales">Older</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                @Html.Partial("_IndexSide2019Partial")
            </aside>


        </div><!-- /.row -->

    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            //console.info("Hello From Home Index");
            //console.info("Hello before lightGallery Call");
            $(document).ready(function () {
                $("#lightgallery").lightGallery();
                $("#lightgallery2").lightGallery();
                $("#lightgallery3").lightGallery();
            });
            //console.info("Hello after lightGallery Call");

        });

    </script>
}
