@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    @Html.Partial("_IndexBannerPartial")
    @Html.Partial("_IndexCards2018Partial")

    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div id="Tales">
                    <h2 class="text-info pb-3 mb-4 border-bottom">
                        Tales from the Short Grass
                    </h2>
                </div>

                <div class="blog-post">

                    <h2 class="blog-post-title">Musto's Corner</h2>
                    <p class="blog-post-meta">May 27, 2018 by <a href="#">the Great Khan</a></p>

                    <h4 class="text-secondary"> Pogi First Memorial Tournament</h4>
                    <p>
                        It was a great day for golf and the Pogi golfers showed up to display their skills. We must remember our fallen brothers, may they rest in peace and all the best to their families. Our thoughts and prayers are always with you.
                    </p>
                    <p>
                        This is our first Memorial Tournament. When I got to the course, the driving range was full of Pogi’s warming up on the range. I thought to myself these guys have good swings, I hope they translate this into good scores today. This tournament was supposed to take place last week but it got postponed because of the weather. We were concerned that it would rain out again this weekend because on Thursday the forecast said 80% precipitation. It turned out to be a great day, a little on the hot side with few passing showers. Royce brook was in great shape and challenging as well. We started out on the back nine but the real challenge was on the second nine as guys got tired since it was our first day this year playing tournament golf in the heat. Roycebrook punishes you if you hit bad shots. The average time per round was about 6 hrs.
                    </p>
                    <p>
                        Mario Balmater is back in form wearing that new hat, red outfit and winning golf tournaments. Glad to see his son Adrian at the game as well. Guys are spoiled from the last tournament. They were asking for brown bags packed with snacks. Some said they skipped breakfast because they were expecting their bag. Mario told them his whole family prepared the bags the last time. It is expensive and time consuming to prepare the bags.
                    </p>
                    <p>
                        Tim Sherwood had 2 birdies. He sat opposite me at the post game festivities. I almost did not recognize him with what looks like new glasses. He did not eat because he was having Italian food over Chinese food. He used to live in that area so was taking home Italian food for the family from their favorite restaurant.
                    </p>
                    <p>
                        I played with Rouel in my foursome. Hats off to him after I heard his life story. He is a fighter. It is amazing that he is even on the golf course. Mr Prez was helping him navigate around the course. Rouel and Rupert played the red tees. I was proud of Mr Prez when he called a penalty on himself even though no one in the foursome noticed. That is what I call leading by example.
                    </p>
                    <p>
                        Mr. Z. pounded out the longest drive. How I wish I could drive the ball like him and Hank. That is all talent and coordination. Z had some issues finishing the hole. I like the way Z plays the game. He is always giving it 100% commitment.
                    </p>
                    <p>
                        Thanks to the coordinator and all who assisted in making this a success. Ralph the coordinator is a professional at pulling off these tournaments. I have to wrap up this article because Nestor is pinging me and the wife is calling.
                    </p>
                    <p>
                        <b>Tim Sherwood</b> - low net of 73, won on 1st hardest hole<br />
                        <b>Mario Balmater</b> – first runner up with a net of 73<br />
                        <b>Ed Mendoza</b> – second runner up with a net of 75<br />
                        <b>Hank Hsu</b> – third runner up, beat Joey on 1st hardest hole<br />
                        <b>Jess Bautista</b> – low gross of 85<br />
                        Longest Drive – <b>Cesar Zavalla</b><br />
                        Closest to the pin – <b>
                            Tim Sherwood
                        </b>
                    </p>
                    <p>
                        So long from Musto’s Corner.
                    </p>

                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 26,2018 by <a href="#">Bong, Ed Mendoza, Pol, Joey, Musto, Jess</a></p>
                    <div id="lightgallery">
                        <a href="~/images/News_20180526/Bong_1.jpg">
                            <img class="" src="~/images/News_20180526/Bong_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_2.jpg">
                            <img class="" src="~/images/News_20180526/Bong_2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_3.jpg">
                            <img class="" src="~/images/News_20180526/Bong_3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_4.jpg">
                            <img class="" src="~/images/News_20180526/Bong_4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_5.jpg">
                            <img class="" src="~/images/News_20180526/Bong_5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_6.jpg">
                            <img class="" src="~/images/News_20180526/Bong_6_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_7.jpg">
                            <img class="" src="~/images/News_20180526/Bong_7_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_8.jpg">
                            <img class="" src="~/images/News_20180526/Bong_8_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_9.jpg">
                            <img class="" src="~/images/News_20180526/Bong_9_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_10.jpg">
                            <img class="" src="~/images/News_20180526/Bong_10_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_11.jpg">
                            <img class="" src="~/images/News_20180526/Bong_11_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_12.jpg">
                            <img class="" src="~/images/News_20180526/Bong_12_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_13.jpg">
                            <img class="" src="~/images/News_20180526/Bong_13_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_14.jpg">
                            <img class="" src="~/images/News_20180526/Bong_14_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_15.jpg">
                            <img class="" src="~/images/News_20180526/Bong_15_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_16.jpg">
                            <img class="" src="~/images/News_20180526/Bong_16_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_17.jpg">
                            <img class="" src="~/images/News_20180526/Bong_17_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_1.jpg">
                            <img class="" src="~/images/News_20180526/Ed_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_2.jpg">
                            <img class="" src="~/images/News_20180526/Ed_2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_3.jpg">
                            <img class="" src="~/images/News_20180526/Ed_3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_4.jpg">
                            <img class="" src="~/images/News_20180526/Ed_4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_5.jpg">
                            <img class="" src="~/images/News_20180526/Ed_5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Pol_1.jpg">
                            <img class="" src="~/images/News_20180526/Pol_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Joey_1.jpg">
                            <img class="" src="~/images/News_20180526/Joey_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Joey_2.jpg">
                            <img class="" src="~/images/News_20180526/Joey_2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Musto_1.jpg">
                            <img class="" src="~/images/News_20180526/Musto_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0003.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0003_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0005.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0005_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0010.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0010_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0012.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0012_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0017.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0017_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0018.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0018_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0021.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0021_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0023.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0023_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0024.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0024_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0028.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0028_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0029.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0029_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0030.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0030_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0031.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0031_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>
                    <p>
                        <a href="https://photos.google.com/share/AF1QipO2RlaMxECLSR_tMumVsLCcH01OB0inbF4tAM2WF2UUSY0xON6GBIW7SSJmG9xIWQ?key=a2p5QVVxVGc1RW1NSkEtR19kTE85ZG5MYVh6QUFB">
                            Click for more Pictures by Jess
                        </a>
                    </p>
                </div>


                <div class="blog-post">
                    <h2 class="blog-post-title">a POGI Hole in One</h2>
                    <p class="blog-post-meta">May 12, 2018 by Nestor <a href="#"></a></p>
                    <h4 class="text-secondary">Manny Domantay's Amazing Day</h4>
                    Manny has been having a good run lately. For the past 2 weeks he won and
                    placed 2nd in (swag) golf tournaments. His evident consistency led up to this
                    very stellar day at the POGI MiniTour outing at Spooky Brook.
                    With 1 now indelible swing that appeared to fall short of the
                    green, the ball tracked it's way to the 11th hole cup.
                    Cheers erupted all around. We are happy to bear witness to this enduring moment. So
                    few experience it and we are happy for Manny.
                    <p />
                    Manny was more than game to fulfill his Hole in One obligations.
                    After sufficiently being inebriated and satisfied with platefuls of Hooters chicken wings,
                    the witnesses have certified that the swing did happen. Congratulations Manny!
                    <h4 class="text-secondary">Bong Nets MiniTour 2 </h4>
                    <p />
                    Bong is back with a vengeance from his (extended) European honeymoon.
                    He is done playing tourist and has quickly regained form and function.
                    With an impressive 81 score, his hot putter gave him a net 69 edging out
                    Alex Rima's 92 score, net 70. Alex has also been playing with consistency lately.
                    Joey Alfonso rounds up the podium finishers with his 87 score, net 73.
                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 12,2018 by <a href="#">Dino, Musto, Cesar, Bong, Joey</a></p>
                    <div id="lightgallery2">
                        <a href="~/images/News_20180512/MannyHole1.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHole2.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHole3.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHole4.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MiniTour1.jpg">
                            <img class="" src="~/images/News_20180512/MiniTour1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MiniTour2.jpg">
                            <img class="" src="~/images/News_20180512/MiniTour2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb1.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb2.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb3.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb4.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb6.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb6_tn.jpg" />
                        </a>


                    </div>
                </div><!-- /.blog-post -->
                <div class="blog-post">
                    <h2 class="blog-post-title">Alex shines in Greater Middlesex Conference</h2>
                    <p class="blog-post-meta">May 11, 2018 <a href="#">as seen in POGI Viber</a></p>
                    <h4 class="text-secondary"></h4>
                    The usual POGI chitchat this afternoon was broken by a beaming announcement from a proud dad.<p />
                    <em>
                        "Pleased (and proud) to announce that the league's youngest member achieved a milestone yesterday.
                        Alex shot a personal best 42 (9 holes) placing 5th overall in pool of top 55 golfers in Middlesex county
                        (actually triple-tied for 3rd but double bogeyed tie breaker hole)"
                    </em>
                    <p />
                    The POGI Viber denizens quickly piled on with delight and congratulations.<br />
                    Next up for Alex is the Central Jersey Tournament on Monday.<br />
                    Best of Luck Alex!
                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 11,2018 by <a href="#">Proud Dad Tim</a></p>
                    <div id="lightgallery3">
                        <a href="~/images/News_20180511/IMG_3359.JPG">
                            <img class="" src="~/images/News_20180511/IMG_3359_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180511/IMG_3360.JPG">
                            <img class="" src="~/images/News_20180511/IMG_3360_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180511/IMG_3361.JPG">
                            <img class="" src="~/images/News_20180511/IMG_3361_tn.jpg" />
                        </a>
                    </div>
                </div><!-- /.blog-post -->
    


                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="/home/index4#Tales">Newer</a>
                    <a class="btn btn-outline-primary" href="/home/index2#Tales">Older</a>

                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                @Html.Partial("_IndexSide2018Partial")
            </aside>

        </div><!-- /.row -->

    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            console.info("Hello From Home Index");
            console.info("Hello before lightGallery Call");
            $(document).ready(function () {
                $("#lightgallery").lightGallery();
                $("#lightgallery2").lightGallery();
                $("#lightgallery3").lightGallery();
            });
            console.info("Hello after lightGallery Call");

        });

    </script>
}
