@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    @Html.Partial("_IndexBannerPartial")
    @Html.Partial("_IndexCards2019Partial")


    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div id="Tales">
                    <h2 class="text-info pb-3 mb-4 border-bottom">
                        Tales from the Short Grass
                    </h2>
                </div>

                <span id="JessMsg"></span>
                <div class="blog-post">

                    <h2 class="blog-post-title">From the President's Desk</h2>

                    <p class="blog-post-meta">February 14, by <a href="#">Jess Bautista</a></p>
                    <p>
                        Dear POGI of 2019,
                    </p>
                    <p>
                        After a long and depressing winter season, I am now beginning to feel the excitement of starting this year’s golf season. 
                        I know all of you, including myself are very eager to start  swinging that golf club again and feel the excitement in hitting that first drive.</p>
                    <p>
                        Imagine standing on the tee box, making your practice swing several times, then you make that move to setup and prepare to launch your very first drive of the year.
                        Try to release that energy that you have been saving for very long time.
                    </p>
                    <p>Then the moment of truth,
                        you eagerly started your back swing and then on your downswing you pounded the golf ball with all the power you’ve got…….. then you said……..”Ooh shit!” or maybe “Oh Noh!”.
                        Well, I guess you know what that means, either you topped the ball,  hit a hook or sliced it(or half a cake). 
                    </p>
                    <p>
                        But you know what’s good?... even you hit a bad shot like that, you’re POGI friends will give you the best excuse in the world,
                        he’ll say…..”oh still early for the year” or “wala pang practice”.
                        Yep, that is what POGI is all about, he’ll give you the motivation to make a better swing on next hole.  But you still “You sucked!” 😊 😊.

                    </p>
                    <p>
                          
                        So, un-suck  yourself and start playing lots of golf! So pay your dues now and let the fun begin.
                    </p>
                    <p>
                        Jess
                    </p>
                </div><!-- /.blog-post -->


                <nav class="blog-pagination">
                    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                    <a class="btn btn-outline-primary" href="/home/index3/#Tales">Older</a>
                </nav>

            </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">
                    @Html.Partial("_IndexSide2019Partial")
                </aside>


        </div><!-- /.row -->

    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            console.info("Hello From Home Index");
            console.info("Hello before lightGallery Call");
            $(document).ready(function () {
                $("#lightgallery").lightGallery();
            });
            console.info("Hello after lightGallery Call");

        });

    </script>
}
