@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    @Html.Partial("_IndexBannerPartial")
    @Html.Partial("_IndexCards2018Partial")

    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div id="Tales">
                    <h2 class="text-info pb-3 mb-4 border-bottom">
                        Tales from the Short Grass
                    </h2>
                </div>

                <div class="blog-post">
                    <h2 class="blog-post-title">PPC - 1st Major Tour concluded</h2>
                    <p class="blog-post-meta">April 29, 2018 by <a href="#">Nestor Geslani</a></p>
                    <h4 class="text-secondary">Seniority wins the day, Jimbo nets a Win</h4>
                    "Senior" Amisola ruled the PPC on a Saturday made for golfing. Ed carded an 82. 7 pars with only
                    a single double bogey marring his consistent play.
                    President Jess set the stage for this happenstance when he rushed an announcement
                    before the tournament: Ed, as a senior
                    is not permitted to tee it forward. It is recognition that Ed continue to show
                    remarkable form and function like a 30 year old.
                    With his abbreviated powerful swing, Ed shows the mold and fitness we can all aspire
                    to as we all march towards our retirement years.<br />
                    Congratulations Coach Amisola.<br /><br />
                    <p>
                        In the battle of Handicaps, Jimbo edged out Cesar by 1 stroke to capture the
                        Low Net Crown. Jimbo started the day already winning the putting tournament
                        (in a playoff with Ralph). This extra event was introduced by Tour Admin Mario
                        to further spice up the competition.
                    </p>
                    <h4 class="text-secondary">Good Turnout</h4>
                    <p>
                        We had great participation in this tournament, no doubt a good result
                        of Jess' initiative to pre-register all active members to our major tours.
                        The weather was good, the greens were fast, the course sufficiently challenging
                        to our low handicappers; sufficiently interesting and open to our weekend hackers.
                        <br />
                        At the end of the day, the POGIs celebrated and dined at Peking Wok.
                        While dinner took a long time to be served, the extra hours
                        allowed more conversation and fellowship with the new members to play out.
                        "It was a successful tournament, well organized and played" seems
                        to be the common assessment. Tour Admin Mario did a good job<br />

                        Jimbo served to cap the evening I feel when he looked at the long
                        stretch of table, observing the jest and banter all around; he proclaimed with a grin:
                        "POGI is alive again". <br />
                        Under Jess' firm and decisive stewardship, we are in good hands.

                    </p>
                    <h4 class="text-secondary">The Official Results</h4>
                    <p>
                        Low Gross Champion - Ed Amisola , Gross 82, Net 73<br />
                        Low Net Champion - Jimbo Dela Cruz, Gross 85, Net 70 (won tiebreaker on 1st Hole)<br />
                        Low Net 1st Runner Up - Cesar Zavalla, Gross 84, Net 70<br />
                        Low Net 2nd Runner Up - Joey Alfonso, Gross 87, Net 74<br />
                        Closest to the Pin - Dino Del Rosario<br />
                        Long Drive Champion - Tim Sherwood<br />
                        Best Dressed - Rouel Paz<br />
                    </p>

                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">April 28,2018 by <a href="#">Dino, Joey, Tata, Alex, Ralph, Jess</a></p>
                    <div id="lightgallery">
                        <a href="~/images/Gallery_20180428/DSC_0002.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0002_tn.jpg" />
                        </a>
                        @*<a href="~/images/Gallery_20180428/DSC_0007.JPG">
                        <img class="" src="~/images/Gallery_20180428/DSC_0007_tn.jpg" />
                    </a>*@
                        <a href="~/images/Gallery_20180428/DSC_0011.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0011_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0012.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0012_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0013.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0013_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0015.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0015_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0016.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0016_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0017.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0017_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0028.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0028_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0032.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0032_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0034.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0034_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0038.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0038_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0039.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0039_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0040.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0040_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0042.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0042_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0044.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0044_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0046.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0046_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3354.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3354_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3344.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3344_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3345.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3345_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3346.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3346_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3347.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3347_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3348.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3348_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3349.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3349_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3351.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3351_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3352.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3352_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3353.jpg">
                            <img class="" src="~/images/Gallery_20180428/IMG_3353_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/IMG_3350.JPG">
                            <img class="" src="~/images/Gallery_20180428/IMG_3350_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0081.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0081_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0083.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0083_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0084.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0084_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0085.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0085_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0086.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0086_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0087.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0087_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0088.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0088_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0089.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0089_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180428/DSC_0090.JPG">
                            <img class="" src="~/images/Gallery_20180428/DSC_0090_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>
                    <p>
                        <a href=" https://photos.google.com/share/AF1QipNoEepYkwUx9eWBxPH_31WM8BLGVeE7gD4WySpl_LYMcrGBdM0YnQP8vhO9geHJlw?key=ajVycFZFS0lBQWZKSThvVHo3eWdudW1MNE1mS1FB">
                            Click for more Pictures by Jess
                        </a>
                    </p>
                </div><!-- /.blog-post -->
                <div class="blog-post">
                    <h2 class="blog-post-title">General Meeting Notes</h2>
                    <p class="blog-post-meta">March 10, 2018 by <a href="#">Jess Bautista</a></p>

                    <h4 class="text-secondary">Prime Directives (New Rules)</h4>
                    <p>Rule#1</p>
                    <p>This applies to all major tournaments:</p>
                    <p>All active members are deemed registered to play for such tournament. If a player is unable to commit to play for that date, he has until Monday(end of day) of that week before the tournament to declare that he is not playing (NO Penalty). If no such declaration or cancellation at the end of day on Monday, he is assumed playing. If the player is no show, Cancellation Penalty applies (To pay 100% or the tournament fee).</p>
                    <p>Rule#2</p>
                    <p>"NO More something came up!"</p>

                    <h4 class="text-secondary">Viber me! (so I don't miss my tee time)</h4>
                    <p>
                        We have a new Viber group to facilitate communication. Please
                        reach out to Bong or other members to be added to group.
                    </p>

                    <h4 class="text-secondary">Scenes from the meeting</h4>
                    <p>
                    <p class="blog-post-meta">March 11, by <a href="#">Ralph, Alex</a></p>
                    <div id="lightgallery">
                        <a href="~/images/Gallery_20180310/IMG_3168.JPG">
                            <img class="" src="~/images/Gallery_20180310/IMG_3168_tn.jpg" />
                        </a>
                        <a href="~/images/Gallery_20180310/IMG_3169.JPG">
                            <img src="~/images/Gallery_20180310/IMG_3169_tn.jpg" />
                        </a>

                    </div>
                    <p>Click thumbnails for viewer</p>
                </div><!-- /.blog-post -->

                <div class="blog-post">

                    <h2 class="blog-post-title">Musto's Corner</h2>
                    <p class="blog-post-meta">March 7, 2018 by <a href="#">the Great Khan</a></p>

                    <h4 class="text-secondary">Fantastic POGI</h4>
                    <p>
                        The Philipine Organization of Golfing Individuals (POGI) was formed in 2001,
                        by several friends who had a common cause in life. They wanted to form a group
                        where they could get together, develop good relationships with each other and progress through life.
                        Fortunately, we all fell in love with golf and the rest is POGI history.
                    </p>
                    <p>
                        The common characteristic among us is we left our homeland with a great
                        desire to succeed in life. It was a necessity for our families.
                        We had our education and must undertake the challenge of raising our families here in the USA.
                        We needed to support each other in the sharing of ideas, with humor, care and respect.
                        We started buying our houses, raising children, taking care of sick relatives and helping others.
                        Approximately 2 decades later, the POGI is a shining example of success.
                        POGI players feel a deep bond with each other, our families get along and we are beginning to
                        See second generation POGI children get involved.
                    <p>

                        The league is well run and we have important rules that govern us. Members
                        are willing to participate in the functioning of the league. Our tournaments
                        are fair and well executed.
                    </p>

                    <h4 class="text-secondary">Swing for Tech</h4>
                    <p>
                        We are undertaking a big investment in our future by upgrading
                        The technology stack behind our website. Fortunately, we have
                        members who can undertake this complex endeavor. We will have the latest cloud
                        technology, mobile application software stack and modern design concepts.
                        That will allow the application to evolve over time. The prior website did
                        its job in getting  us this far but it is time to upgrade.
                    </p>
                    <span id="JessMsg"></span>
                </div><!-- /.blog-post -->

                <div class="blog-post">

                    <h2 class="blog-post-title">From the President's Desk</h2>

                    <p class="blog-post-meta">March 5, by <a href="#">Jess Bautista</a></p>
                    <p>
                        To all my POGI friends,

                        Welcome to 2018 golf season! It is my honor and privilege to preside the 2018 and 2019 POGI League seasons. With the support of  all the Executive Board and Core members, we will continue the tradition of POGI to promote camaraderie among us and continue to enjoy every round of golf that awaits us for this season. We will continue our competitive major tournaments and of course mini/money tour will not go away but it will be bigger. There will be new POGI rules and would be fair to everyone.

                        I look forward to playing with all of you and I shall say, let the fun begin.


                    </p>
                    <blockquote>
                        <p>  “I have a tip that can take five strokes off anyone’s game: It’s called an eraser.” – Arnold Palmer</p>
                    </blockquote>
                </div><!-- /.blog-post -->

                <span id="JoeyMsg"></span>
                <div class="blog-post">
                    <h2 class="blog-post-title">(not the) Last Word From Joey</h2>
                    <p class="blog-post-meta">March 10, by <a href="#">Joey Alfonso</a></p>
                    <p>Dear POGI members,</p>
                    <p>
                        For the past two years, it has been a privilege and an honor to serve you as POGI President. I have good reason to express my heartfelt thanks to most of you but especially to the executive committee officers.  We have accomplished much together in these years that passed too quickly.
                    </p>
                    <p>
                        Together, we’ve successfully ran tournaments and incorporated changes that put more excitement to the game such as cash awards in addition to trophies. We’ve expanded mini tournaments and combined its championship with one of our major events. We’ve recruited new members and have seen former members come back. We’ve introduced new event format, scramble, and were able to get a full sponsorship from a major company.  And more importantly, we were able to have fun playing golf! That was the main goal, we are all passionate about this game and POGI is a great platform for us to test our skills, enjoy the competition and each other.
                    </p>
                    <p>
                        As I move from President to Past President this year, I assure you this is not farewell. I hope to continue giving to the organization, and I encourage all of our members that as we enjoy and benefit from this organization, consider giving back. How can YOU improve our group? Anything we can do better? Be part of the solution. I thank you all from the bottom of my heart for allowing me to lead this organization for the last two years. I wish everyone a great 2018 season and I look forward to the wonderful things in store for our organization!
                    </p>
                    <p>
                        Joey Alfonso<br />
                        POGI President, 2016-2017
                    </p>
                </div><!-- /.blog-post -->


                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="/home/index3/#Tales">Newer</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Older</a>

                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                @Html.Partial("_IndexSide2018Partial")
            </aside>

        </div><!-- /.row -->

    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            console.info("Hello From Home Index");
            console.info("Hello before lightGallery Call");
            $(document).ready(function () {
                $("#lightgallery").lightGallery();
            });
            console.info("Hello after lightGallery Call");

        });

    </script>
}
