@{
    ViewData["Title"] = "Home Page";
}

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Welcome to the 2018 season</h1>
                        <p>Our tournaments are underway</p>
                        <p><a class="btn btn-lg btn-primary" href="/TeeTime" role="button">See the Lineup</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>Meet the POGI Family</h2>
                        <p>Playing hard since 2001</p>
                        <p><a class="btn btn-lg btn-primary" href="/Gallery/Members" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h2>Join the friendly community of NJ golfers</h2>
                        <p>This year,  play more @@ POGI</p>
                        <p><a class="btn btn-lg btn-primary" href="/Home/Contact" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Incoming</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Make POGI great again</a>
                        </h3>
                        <div class="mb-1 text-muted">Mar 7, President Jess</div>
                        <p class="card-text mb-auto">Welcome to 2018 golf season! </p>
                        <a href="/home/index2/#JessMsg">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="~/images/Jess_Bautista3.jpg" height="250" width="200" alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Outgoing</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">POGI is (already) great</a>
                        </h3>
                        <div class="mb-1 text-muted">Mar 10, ex-President Joey</div>
                        <p class="card-text mb-auto">
                            For the past two years, it has been a privilege and honor ...
                        </p>
                        <a href="/home/index2/#JoeyMsg">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="~/images/Alfonso_Joey3.jpg" height="250" width="200" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div id="Tales1">
                    <h2 class="text-info pb-3 mb-4 border-bottom">
                        Tales from the Short Grass
                    </h2>
                </div>
                <div class="blog-post">

                    <h2 class="blog-post-title">Zavalla notches another one</h2>
                    <p class="blog-post-meta">July 14, 2018 by <a href="#">Nestor</a></p>
                    <h4 class="text-secondary">Mini-Tour#6</h4>
                    <p>
                        Cesar is solidifying his hold on the Mini-Tour leaderboard with another
                        win. The long ball reigned supreme today. Playing at the short white tees, with the fairways
                        baked hard, Cesar flew and bounced some of his balls past putting range.
                    <p>
                        Chipping green side, he displayed excellent touch early on. He laid claim
                        to 2 birdies, 1 on the hardest hole which would prove pivotal for the tiebreaker.
                        He almost squandered his lead however limping on the final hole.
                        His early discipline however was enough to hold off Jimbo and Bong.
                        Jimbo tied him on net but lost out on that hardest hole tiebreaker.
                    <p>
                        Bong logged in an impressive 82, the lowest gross. He continues to be befuddled with the
                        GHIN arithmetic that allowed Zavalla to walk away with this one again.
                    <p>
                        All in all, a good day of golf especially for yours truly. 
                        I did not log the worst score today.<br />
                        That honor belongs to Mario ! lol.
                    <p>
                        Mini-Tour#6 Champion: <b>Cesar Zavalla</b> (gross 84, net 70, tiebreaker won)
                        <br />

                        First runner up: <b>Jimbo de La Crus</b> (gross 85, net 70)
                        <br />
                        Second runner up:  <b>
                            Bong Mapa
                        </b>(gross 82, net 71)
                        <p>
                            <a href="~/score/leaderboard?TourId=2&TourDate=7/14/2018">Click for Full Leaderboard</a>
                    </p>
                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">July 14,2018 by <a href="#">Nestor</a></p>
                    <div id="lightgallery">
                        <a href="~/images/News_20180714/DSC00130.jpg">
                            <img class="" src="~/images/News_20180714/DSC00130_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00134.jpg">
                            <img class="" src="~/images/News_20180714/DSC00134_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00137.jpg">
                            <img class="" src="~/images/News_20180714/DSC00137_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00145.jpg">
                            <img class="" src="~/images/News_20180714/DSC00145_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00151.jpg">
                            <img class="" src="~/images/News_20180714/DSC00151_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00159.jpg">
                            <img class="" src="~/images/News_20180714/DSC00159_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00162.jpg">
                            <img class="" src="~/images/News_20180714/DSC00162_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00169.jpg">
                            <img class="" src="~/images/News_20180714/DSC00169_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00175.jpg">
                            <img class="" src="~/images/News_20180714/DSC00175_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00177.jpg">
                            <img class="" src="~/images/News_20180714/DSC00177_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00183.jpg">
                            <img class="" src="~/images/News_20180714/DSC00183_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00203.jpg">
                            <img class="" src="~/images/News_20180714/DSC00203_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00207.jpg">
                            <img class="" src="~/images/News_20180714/DSC00207_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00211.jpg">
                            <img class="" src="~/images/News_20180714/DSC00211_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00216.jpg">
                            <img class="" src="~/images/News_20180714/DSC00216_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00219.jpg">
                            <img class="" src="~/images/News_20180714/DSC00219_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00220.jpg">
                            <img class="" src="~/images/News_20180714/DSC00220_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00229.jpg">
                            <img class="" src="~/images/News_20180714/DSC00229_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00245.jpg">
                            <img class="" src="~/images/News_20180714/DSC00245_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00261.jpg">
                            <img class="" src="~/images/News_20180714/DSC00261_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00263.jpg">
                            <img class="" src="~/images/News_20180714/DSC00263_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00265.jpg">
                            <img class="" src="~/images/News_20180714/DSC00265_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00278.jpg">
                            <img class="" src="~/images/News_20180714/DSC00278_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00283.jpg">
                            <img class="" src="~/images/News_20180714/DSC00283_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00329.jpg">
                            <img class="" src="~/images/News_20180714/DSC00329_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00340.jpg">
                            <img class="" src="~/images/News_20180714/DSC00340_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180714/DSC00351.jpg">
                            <img class="" src="~/images/News_20180714/DSC00351_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>
                </div>
                <div class="blog-post">

                    <h2 class="blog-post-title">Musto's Corner</h2>
                    <p class="blog-post-meta">June 30, 2018 by <a href="#">the Great Khan</a></p>

                    <h4 class="text-secondary">Pogi Open</h4>
                    <p>
                        Imagine it is June 2018 already. Time appears to be moving so fast. Another amazing Pogi Open just concluded. It is good to see such a high level of competition year after year. The weather was a little on the hot side but the golf course was in great shape.
                    </p>
                    <p>
                        Congratulations to our guests. We appreciate you joining us. It makes the game more fun. I was glad to see several former Pogi Players. Raymond Vasquez was selling his new line of clothing. I got a chance to talk to Jun S and John O. Glad that they are doing well.
                    </p>
                    <p>
                        The game was well played. We had some very good golfers participating. These guys can hit the right shot given a circumstance. Leading the way was a relaxed Ralph Ferrer (low net champion) and coach Ed Amisola (low gross champion again). A big congratulations to both of you. Make a guess who is the long drive champion.
                    </p>
                    <p>
                        Consider yourself lucky if you love this game. It is a difficult but rewarding game where every shot matters. Careful consideration must be given to each situation. If you have the focus and can back it up with the right execution of the shot you will be rewarded. Fail to do that and you will be punished. Next thing you know, you are punching out of the woods or taking shot number 3 by losing a brand new ball. On the other hand, it is a beautiful thing when you are playing well. The swing is effortless and the ball flies nicely with a spin that propels it through the air. All of our players experience these 2 situations yesterday that is why we keep returning. It takes a special person to have the longevity and continuously compete in this fabulous Pogi Open. The tournament speaks for itself.
                    </p>
                    <p>
                        Jimbo and company did a remarkable job executing the tournament. Do not underestimate the preparation that goes into this tournament. These guys started preparation in February and work until the day of the tournament to ensure its success. Big improvements this year with the scoring system. Web master Nestor G enhanced Pogi.club so we were able to enter the scores directly into the website. It does system 36 and tie breaker calculations to automatically give you the winner. Results are immediately available to anyone around the world who inquire into the website. These guys are brilliant. We are lucky to be associated with them.
                    </p>
                    <p>
                        The dinner activities were special. We drove about 13 miles to get to the destination. All you can eat sushi was included in the selection.  Lots of prizes was handed out. Our 50/50 raffle is generating excitement. The girls at the restaurant pulled the numbers out of the hat for us. Very nice.
                    </p>
                    <p>
                        I have to conclude on this. I have to go make breakfast for the wife. Keep playing and Be Long.
                    </p>
                    <p>
                        Low Gross Champion:  <b> Ed Amisola </b>(gross 79)
                        <br />

                        Low Net Champion: <b>Ralph Ferrer </b> (gross 87, net 69)
                        <br />

                        First runner up: <b>Cesar Zavalla</b> (gross 84, net 70)
                        <br />
                        Second runner up:  <b>
                            Jimbo Dela Cruz
                        </b>(gross 88, net 73, tiebreaker won)
                        <br />
                        Third runner up: <b>
                            Emil Narciso
                        </b>(gross 89, net 73)
                        <br />
                        Longest Drive: <b>
                            Hank
                        </b>
                        <br />
                        Closest to the pin: <b>Musto</b>
                    </p>
                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">June 30,2018 by <a href="#">Bong, Cesar, Joey, Ralph, Musto, Jess</a></p>
                    <div id="lightgallery">
                        <a href="~/images/News_20180630/Bong_15.jpg">
                            <img class="" src="~/images/News_20180630/Bong_15_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_14.jpg">
                            <img class="" src="~/images/News_20180630/Bong_14_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_13.jpg">
                            <img class="" src="~/images/News_20180630/Bong_13_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_12.jpg">
                            <img class="" src="~/images/News_20180630/Bong_12_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_11.jpg">
                            <img class="" src="~/images/News_20180630/Bong_11_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_10.jpg">
                            <img class="" src="~/images/News_20180630/Bong_10_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_09.jpg">
                            <img class="" src="~/images/News_20180630/Bong_09_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_08.jpg">
                            <img class="" src="~/images/News_20180630/Bong_08_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_07.jpg">
                            <img class="" src="~/images/News_20180630/Bong_07_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_06.jpg">
                            <img class="" src="~/images/News_20180630/Bong_06_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_05.jpg">
                            <img class="" src="~/images/News_20180630/Bong_05_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_04.jpg">
                            <img class="" src="~/images/News_20180630/Bong_04_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Joey_01.jpg">
                            <img class="" src="~/images/News_20180630/Joey_01_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Ralph_01.jpg">
                            <img class="" src="~/images/News_20180630/Ralph_01_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_03.jpg">
                            <img class="" src="~/images/News_20180630/Bong_03_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_02.jpg">
                            <img class="" src="~/images/News_20180630/Bong_02_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Bong_01.jpg">
                            <img class="" src="~/images/News_20180630/Bong_01_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Cesar_01.jpg">
                            <img class="" src="~/images/News_20180630/Cesar_01_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180630/Musto_01.jpg">
                            <img class="" src="~/images/News_20180630/Musto_01_tn.jpg" />
                        </a>

                        <a href="~/images/News_20180630/Ralph_02.jpg">
                            <img class="" src="~/images/News_20180630/Ralph_02_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>
                    <p>
                        <a href="https://photos.google.com/share/AF1QipOWMOQoxwcvRrao5n-lt69P3d7QIaidfMMcxsi3l0ZKAyGVYt4B0-G4QEmyNppA8w?key=cmE3RW41NnJ0SlJwbVZrM1BGTVJ5cWJ3eF83OVl3">
                            Click for more Pictures by Jess
                        </a>
                    </p>
                </div>
                <div class="blog-post">

                    <h2 class="blog-post-title">Musto's Corner</h2>
                    <p class="blog-post-meta">May 27, 2018 by <a href="#">the Great Khan</a></p>

                    <h4 class="text-secondary"> Pogi First Memorial Tournament</h4>
                    <p>
                        It was a great day for golf and the Pogi golfers showed up to display their skills. We must remember our fallen brothers, may they rest in peace and all the best to their families. Our thoughts and prayers are always with you.
                    </p>
                    <p>
                        This is our first Memorial Tournament. When I got to the course, the driving range was full of Pogi’s warming up on the range. I thought to myself these guys have good swings, I hope they translate this into good scores today. This tournament was supposed to take place last week but it got postponed because of the weather. We were concerned that it would rain out again this weekend because on Thursday the forecast said 80% precipitation. It turned out to be a great day, a little on the hot side with few passing showers. Royce brook was in great shape and challenging as well. We started out on the back nine but the real challenge was on the second nine as guys got tired since it was our first day this year playing tournament golf in the heat. Roycebrook punishes you if you hit bad shots. The average time per round was about 6 hrs.
                    </p>
                    <p>
                        Mario Balmater is back in form wearing that new hat, red outfit and winning golf tournaments. Glad to see his son Adrian at the game as well. Guys are spoiled from the last tournament. They were asking for brown bags packed with snacks. Some said they skipped breakfast because they were expecting their bag. Mario told them his whole family prepared the bags the last time. It is expensive and time consuming to prepare the bags.
                    </p>
                    <p>
                        Tim Sherwood had 2 birdies. He sat opposite me at the post game festivities. I almost did not recognize him with what looks like new glasses. He did not eat because he was having Italian food over Chinese food. He used to live in that area so was taking home Italian food for the family from their favorite restaurant.
                    </p>
                    <p>
                        I played with Rouel in my foursome. Hats off to him after I heard his life story. He is a fighter. It is amazing that he is even on the golf course. Mr Prez was helping him navigate around the course. Rouel and Rupert played the red tees. I was proud of Mr Prez when he called a penalty on himself even though no one in the foursome noticed. That is what I call leading by example.
                    </p>
                    <p>
                        Mr. Z. pounded out the longest drive. How I wish I could drive the ball like him and Hank. That is all talent and coordination. Z had some issues finishing the hole. I like the way Z plays the game. He is always giving it 100% commitment.
                    </p>
                    <p>
                        Thanks to the coordinator and all who assisted in making this a success. Ralph the coordinator is a professional at pulling off these tournaments. I have to wrap up this article because Nestor is pinging me and the wife is calling.
                    </p>
                    <p>
                        <b>Tim Sherwood</b> - low net of 73, won on 1st hardest hole<br />
                        <b>Mario Balmater</b> – first runner up with a net of 73<br />
                        <b>Ed Mendoza</b> – second runner up with a net of 75<br />
                        <b>Hank Hsu</b> – third runner up, beat Joey on 1st hardest hole<br />
                        <b>Jess Bautista</b> – low gross of 85<br />
                        Longest Drive – <b>Cesar Zavalla</b><br />
                        Closest to the pin – <b>
                            Tim Sherwood
                        </b>
                    </p>
                    <p>
                        So long from Musto’s Corner.
                    </p>

                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 26,2018 by <a href="#">Bong, Ed Mendoza, Pol, Joey, Musto, Jess</a></p>
                    <div id="lightgallery">
                        <a href="~/images/News_20180526/Bong_1.jpg">
                            <img class="" src="~/images/News_20180526/Bong_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_2.jpg">
                            <img class="" src="~/images/News_20180526/Bong_2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_3.jpg">
                            <img class="" src="~/images/News_20180526/Bong_3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_4.jpg">
                            <img class="" src="~/images/News_20180526/Bong_4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_5.jpg">
                            <img class="" src="~/images/News_20180526/Bong_5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_6.jpg">
                            <img class="" src="~/images/News_20180526/Bong_6_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_7.jpg">
                            <img class="" src="~/images/News_20180526/Bong_7_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_8.jpg">
                            <img class="" src="~/images/News_20180526/Bong_8_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_9.jpg">
                            <img class="" src="~/images/News_20180526/Bong_9_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_10.jpg">
                            <img class="" src="~/images/News_20180526/Bong_10_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_11.jpg">
                            <img class="" src="~/images/News_20180526/Bong_11_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_12.jpg">
                            <img class="" src="~/images/News_20180526/Bong_12_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_13.jpg">
                            <img class="" src="~/images/News_20180526/Bong_13_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_14.jpg">
                            <img class="" src="~/images/News_20180526/Bong_14_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_15.jpg">
                            <img class="" src="~/images/News_20180526/Bong_15_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_16.jpg">
                            <img class="" src="~/images/News_20180526/Bong_16_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Bong_17.jpg">
                            <img class="" src="~/images/News_20180526/Bong_17_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_1.jpg">
                            <img class="" src="~/images/News_20180526/Ed_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_2.jpg">
                            <img class="" src="~/images/News_20180526/Ed_2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_3.jpg">
                            <img class="" src="~/images/News_20180526/Ed_3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_4.jpg">
                            <img class="" src="~/images/News_20180526/Ed_4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Ed_5.jpg">
                            <img class="" src="~/images/News_20180526/Ed_5_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Pol_1.jpg">
                            <img class="" src="~/images/News_20180526/Pol_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Joey_1.jpg">
                            <img class="" src="~/images/News_20180526/Joey_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Joey_2.jpg">
                            <img class="" src="~/images/News_20180526/Joey_2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/Musto_1.jpg">
                            <img class="" src="~/images/News_20180526/Musto_1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0003.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0003_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0005.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0005_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0010.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0010_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0012.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0012_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0017.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0017_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0018.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0018_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0021.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0021_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0023.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0023_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0024.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0024_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0028.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0028_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0029.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0029_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0030.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0030_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180526/DSC_0031.jpg">
                            <img class="" src="~/images/News_20180526/DSC_0031_tn.jpg" />
                        </a>
                    </div>
                    <p>Click thumbnails for viewer</p>
                    <p>
                        <a href="https://photos.google.com/share/AF1QipO2RlaMxECLSR_tMumVsLCcH01OB0inbF4tAM2WF2UUSY0xON6GBIW7SSJmG9xIWQ?key=a2p5QVVxVGc1RW1NSkEtR19kTE85ZG5MYVh6QUFB">
                            Click for more Pictures by Jess
                        </a>
                    </p>
                </div>


                <div class="blog-post">
                    <h2 class="blog-post-title">a POGI Hole in One</h2>
                    <p class="blog-post-meta">May 12, 2018 by Nestor <a href="#"></a></p>
                    <h4 class="text-secondary">Manny Domantay's Amazing Day</h4>
                    Manny has been having a good run lately. For the past 2 weeks he won and
                    placed 2nd in (swag) golf tournaments. His evident consistency led up to this
                    very stellar day at the POGI MiniTour outing at Spooky Brook.
                    With 1 now indelible swing that appeared to fall short of the
                    green, the ball tracked it's way to the 11th hole cup.
                    Cheers erupted all around. We are happy to bear witness to this enduring moment. So
                    few experience it and we are happy for Manny.
                    <p />
                    Manny was more than game to fulfill his Hole in One obligations.
                    After sufficiently being inebriated and satisfied with platefuls of Hooters chicken wings,
                    the witnesses have certified that the swing did happen. Congratulations Manny!
                    <h4 class="text-secondary">Bong Nets MiniTour 2 </h4>
                    <p />
                    Bong is back with a vengeance from his (extended) European honeymoon.
                    He is done playing tourist and has quickly regained form and function.
                    With an impressive 81 score, his hot putter gave him a net 69 edging out
                    Alex Rima's 92 score, net 70. Alex has also been playing with consistency lately.
                    Joey Alfonso rounds up the podium finishers with his 87 score, net 73.
                    <h4 class="text-secondary">Scenes from the Tournament</h4>
                    <p>
                    <p class="blog-post-meta">May 12,2018 by <a href="#">Dino, Musto, Cesar, Bong, Joey</a></p>
                    <div id="lightgallery">
                        <a href="~/images/News_20180512/MannyHole1.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHole2.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHole3.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHole4.jpg">
                            <img class="" src="~/images/News_20180512/MannyHole4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MiniTour1.jpg">
                            <img class="" src="~/images/News_20180512/MiniTour1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MiniTour2.jpg">
                            <img class="" src="~/images/News_20180512/MiniTour2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb1.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb1_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb2.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb2_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb3.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb3_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb4.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb4_tn.jpg" />
                        </a>
                        <a href="~/images/News_20180512/MannyHoleCeleb6.jpg">
                            <img class="" src="~/images/News_20180512/MannyHoleCeleb6_tn.jpg" />
                        </a>


                    </div>
                </div><!-- /.blog-post -->



                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="/home/index2/#Tales2">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">

                <div class="p-3 mb-3 bg-light rounded">

                    <h4 id="2018GA" class="text-info">Quotable Quotes</h4>
                    <span class="text-muted font-weight-light">sometimes we <span class="font-weight-bold">DO</span> mean what we say!</span><br /><br />
                    <div class="alert alert-secondary">
                        no more <i>SOMETHING CAME UP</i> ! - Digong
                    </div>
                    <div class="alert alert-secondary">
                        I'm going to decide and need no objection (man that feels good!) - chief Decision Maker
                    </div>



                </div>
                <hr />
                <div class="p-3 bg-light rounded">

                    <h4 id="2018Schedule" class="text-info">2018 Handicap Revision Schedule</h4>
                    <div class="row text-info">
                        <div class="col">Revision #</div>
                        <div class="col">Transmit By</div>
                        <div class="col">Effective Date</div>
                    </div>
                    <div class="row">
                        <div class="col">1</div>
                        <div class="col">3/31/2018</div>
                        <div class="col">4/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">2</div>
                        <div class="col">4/14/2018</div>
                        <div class="col">4/15/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">3</div>
                        <div class="col">4/30/2018</div>
                        <div class="col">5/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">4</div>
                        <div class="col">5/14/2018</div>
                        <div class="col">5/15/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">5</div>
                        <div class="col">5/31/2018</div>
                        <div class="col">6/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">6</div>
                        <div class="col">6/14/2018</div>
                        <div class="col">6/15/2018</div>

                    </div>
                    <div class="row">
                        <div class="col">7</div>
                        <div class="col">6/30/2018</div>
                        <div class="col">7/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">8</div>
                        <div class="col">7/14/2018</div>
                        <div class="col">7/15/2018</div>

                    </div>
                    <div class="row">
                        <div class="col">9</div>
                        <div class="col">7/31/2018</div>
                        <div class="col">8/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">10</div>
                        <div class="col">8/14/2018</div>
                        <div class="col">8/15/2018</div>

                    </div>
                    <div class="row">
                        <div class="col">11</div>
                        <div class="col">8/31/2018</div>
                        <div class="col">9/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">12</div>
                        <div class="col">9/14/2018</div>
                        <div class="col">9/15/2018</div>

                    </div>
                    <div class="row">
                        <div class="col">13</div>
                        <div class="col">9/30/2018</div>
                        <div class="col">10/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">14</div>
                        <div class="col">10/14/2018</div>
                        <div class="col">10/15/2018</div>

                    </div>
                    <div class="row">
                        <div class="col">15</div>
                        <div class="col">10/31/2018</div>
                        <div class="col">11/1/2018</div>
                    </div>
                    <div class="row">
                        <div class="col">16</div>
                        <div class="col">11/14/2018</div>
                        <div class="col">11/15/2018</div>

                    </div>
                </div>
                <hr />
                <div class="p-3 bg-light rounded">

                    <h4 id="2018Schedule" class="text-info">2018 Schedule</h4>
                    <ol class="list-unstyled mb-0">
                        <a href="#2018Schedule">
                            POGI Players Championship
                        </a>
                        <li>
                            April 28 - High Bridge
                        </li>
                        <li>
                            Arranged by Mario
                        </li>
                        <li>
                            <br />
                            <a href="#2018Schedule">
                                Memorial
                            </a>
                            <br />May 19 @@12:30pm - Royce Brook<br />
                            Commissioner Ralph
                        </li>
                        <li>
                            <br />
                            <a href="#2018Schedule">
                                POGI Open
                            </a>
                            <br />June 30 - Eagle Ridge<br /> Cooordinator Jimbo
                        </li>
                        <li>
                            <br />
                            <a href="#2018Schedule">
                                POGI Invitational
                            </a>
                            <br />August 11 - Neshanic<br />
                            Financed by County Resident Bong
                        </li>
                        <li>
                            <br />
                            <a href="#2018Schedule">
                                Ryder Cup
                            </a>
                            <br />September 22<br />
                            Perpetual Red Team Coach Joey
                        </li>
                        <li>
                            <br />
                            <a href="#2018Schedule">
                                Mini Tour<br />
                            </a>
                            Administered by Musto<br />
                            Mini 1 – Apr 28th   (Highbridge)<br />
                            Mini 2 – May 12th (Spookybrook)<br />
                            Mini 3 – May 19th (Roycebrook)<br />
                            Mini 4 – June 16th (Tamarack West) (7 golf clubs allowed)<br />
                            Mini 5 – June 30th (Eagleridge)<br />
                            Mini 6 – July 14th (Quailbrook)<br />
                            Mini 7 – July 28th (Tamarack East)<br />
                            Mini 8 – Aug 11th (Neshanic)<br />
                            Mini 9 – Sept 15th (Check golfnow for a deal)<br />
                            Mini 10 – Sept 22 – Finals (Check golfnow for a deal)<br />
                        </li>
                        <li>
                            <br />
                            <a href="#2018Schedule">
                                Fall Getaway
                            </a>
                            <br />Commissioner Alden
                        </li>


                    </ol>
                </div>

            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            console.info("Hello From Home Index");
            console.info("Hello before lightGallery Call");
            $(document).ready(function () {
                $("#lightgallery").lightGallery();
            });
            console.info("Hello after lightGallery Call");

        });

    </script>
}
