@model Pogi.Models.TeeTimeViewModels.TeeTimeCreateViewModel

@{
    ViewData["Title"] = "Edit";
    ViewData["Save"] = "Save";
    Member member = @Model.Member;
}
<br />
<div class="container">
    <br />
    <h2>TeeTime</h2>
    <h4>Edit</h4>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="alert-info col-md-4">
                Reserved by
                @Html.DisplayFor(modelItem => member.FirstName)
                @Html.DisplayFor(modelItem => member.LastName)
            </div>
        </div>
        <br />
        <form asp-action="Edit">
            @Html.Partial("_EditTeeTimePartial", Model)
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
