@using Pogi.Models.LiveViewModels
@model LiveSelectViewModel ;

@{
    ViewData["Title"] = "Live Tournament Scoring";
}
<section class="container-fluid">
    <br />
    <h2>Live Scoring</h2>
    <h3>Select Group</h3>
    <hr />
    <section class="row">

        <div class="form-group col-sm-6">
            <form asp-action="Live" method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tour</span>
                    </div>
                    <select asp-for="TourId" asp-items="@Model.Tours" class="form-control"></select>
                    <div class="input-group-append">
                        <select asp-for="TourDate" asp-items="@Model.TourDates" class="form-control"></select>
                    </div>
                    <div class="input-group-addon">
                        <input hidden id="SetTour" type="submit" name="SetTour" value="SetTour" class="btn btn-primary" />
                    </div>
                </div>
            </form>



        </div>
    </section>



</section>

@section Scripts {
    <script>
        console.info("Hello From Live Scoring");

        $("#TourId").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
            $("#TourDate").val("");
        });
        $("#TourDate").change(function () {
            console.info("TourId changed");
            $("#SetTour").trigger("click");
        });


    </script>
}
