<br />
@{
    ViewData["Title"] = "Live";
}
<section class="container">
    
    <section class="row">
        <div class="col-3 px-0"><small>2020 POGI Open</small></div>
        <ul class="nav col">
            <li class="nav-item">
                <a class="nav-link active align-middle" href="#">Score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LeaderBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Select</a>
            </li>
        </ul>
    </section>
    <section class="row">
        <div class="col bg-warning text-light text-center py-1 mb-1 border">
            Prev Hole
        </div>
        <div class="col bg-info text-light text-center py-1 mb-1 border">
            Hole #05
        </div>
        <div class="col bg-warning text-light text-center py-1 mb-1 border">
            Next Hole
        </div>
    </section>
    <section class="row align-items-center">
        <div class="col text-center py-3 mb-2 bg-secondary text-light border-primary rounded">
            <button type="button" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
        </div>
        <div class="col text-center py-1 mb-2 bg-secondary text-light border rounded font-weight-bold">
            <p class="h6 font-weight-light">Par 04, 350 yards</p>
            <p class="h3 text-light">03</p>
        </div>
        <div class="col text-center py-3 mb-2 bg-secondary text-light border rounded">
            <button type="button" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
        </div>
    </section>

    <section class="row align-items-center">
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">Plyr</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">01</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">02</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">03</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">04</div>
        <div class="col-1 text-center text-light bg-info border border-primary px-0">05</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">06</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">07</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">08</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">09</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">Out</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">Rnd</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-light bg-info border border-info px-0">NG</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">06</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-info bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">46</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">+10</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-dark bg-light border border-info px-0">RF</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">+0</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-dark bg-light border border-info px-0">JD</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">+0</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-dark bg-light border border-info px-0">JA</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">+0</div>
    </section>

    <section class="row align-items-center">
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">Plyr</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">10</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">11</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">12</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">13</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">14</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">15</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">16</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">17</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">18</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">In</div>
        <div class="col-1 text-center text-light bg-dark border border-primary px-0">Tot</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-light bg-info border border-info px-0">NG</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-dark bg-light border border-info px-0">RF</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-dark bg-light border border-info px-0">JD</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row align-items-center">
        <div class="col-1 text-center text-dark bg-light border border-info px-0">JA</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row">
        <div class="col bg-info text-light text-center py-1 mb-1 border">
            Nestor
        </div>
        <div class="col bg-secondary text-light text-center py-1 mb-1 border">
            Ralph
        </div>
        <div class="col bg-secondary text-light text-center py-1 mb-1 border">
            Jimbo
        </div>
        <div class="col bg-secondary text-light text-center py-1 mb-1 border">
            Joey
        </div>
    </section>
</section>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
