<br />
@{
    ViewData["Title"] = "Live";
}
<section class="container">
    <section class="row">
        <span class="col-3 px-0 mx-1  d-flex justify-content-center align-items-center">
            <small><strong>2020 POGI Open</strong></small>
        </span>
        <ul class="nav col">
            <li class="nav-item mx-0">
                <a class="nav-link active" href="#">Score</a>
            </li>
            <li class="nav-item mx-0">
                <a class="nav-link" href="#">Leaders</a>
            </li>
            <li class="nav-item mx-0">
                <a class="nav-link" href="#">Groups</a>
            </li>
        </ul>
    </section>
    <section class="row">
        <div class="col bg-warning text-light text-center py-1 mb-1 border">
            Prev Hole
        </div>
        <div class="col bg-info text-light text-center py-1 mb-1 border">
            Hole #05
        </div>
        <div class="col bg-warning text-light text-center py-1 mb-1 border">
            Next Hole
        </div>
    </section>
    <section class="row align-items-center">
        <div class="col text-center py-3 mb-2 bg-secondary text-light border-primary rounded">
            <button type="button" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
        </div>
        <div class="col text-center py-1 mb-2 bg-secondary text-light border rounded font-weight-bold">
            <p class="h6 font-weight-light">Par 04, 350 yards</p>
            <p class="h3 text-light">03</p>
        </div>
        <div class="col text-center py-3 mb-2 bg-secondary text-light border rounded">
            <button type="button" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
        </div>
    </section>

    <section class="row align-items-center">
        <div id="outh-plyr" class="col-1 text-center text-light bg-dark border border-primary px-0">Plyr</div>
        <div id="outh-1" class="col-1 text-center text-light bg-dark border border-primary px-0">01</div>
        <div id="outh-2" class="col-1 text-center text-light bg-dark border border-primary px-0">02</div>
        <div id="outh-3" class="col-1 text-center text-light bg-dark border border-primary px-0">03</div>
        <div id="outh-4" class="col-1 text-center text-light bg-dark border border-primary px-0">04</div>
        <div id="outh-5" class="col-1 text-center text-light bg-info border border-primary px-0">05</div>
        <div id="outh-6" class="col-1 text-center text-light bg-dark border border-primary px-0">06</div>
        <div id="outh-7" class="col-1 text-center text-light bg-dark border border-primary px-0">07</div>
        <div id="outh-8" class="col-1 text-center text-light bg-dark border border-primary px-0">08</div>
        <div id="outh-9" class="col-1 text-center text-light bg-dark border border-primary px-0">09</div>
        <div id="outh-sum" class="col-1 text-center text-light bg-dark border border-primary px-0">Out</div>
        <div id="outh-rnd" aria-atomic="" class="col-1 text-center text-light bg-dark border border-primary px-0">Rnd</div>
    </section>

    <section class="row align-items-center" id="out1">
        <div id="out1-plyr" class="col-1 text-center text-light bg-info border border-info px-0">NG</div>
        <div id="out1-1" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out1-2" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out1-3" class="col-1 text-center text-dark bg-light border border-info px-0">06</div>
        <div id="out1-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out1-5" class="col-1 text-center text-info bg-light border border-info px-0">04</div>
        <div id="out1-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out1-7" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out1-8" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out1-9" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out1-sum" class="col-1 text-center text-dark bg-light border border-info px-0">46</div>
        <div id="out1-rnd" class="col-1 text-center text-dark bg-light border border-info px-0">+10</div>
    </section>
    <section class="row align-items-center" id="out2">
        <div id="out2-plyr" class="col-1 text-center text-dark bg-light border border-info px-0">RF</div>
        <div id="out2-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out2-2" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out2-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out2-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out2-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out2-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out2-7" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out2-8" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out2-9" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out2-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="out2-rnd" class="col-1 text-center text-dark bg-light border border-info px-0">+0</div>
    </section>
    <section class="row align-items-center" id="out3">
        <div id="out3-plyr" class="col-1 text-center text-dark bg-light border border-info px-0">JD</div>
        <div id="out3-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out3-2" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out3-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out3-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out3-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out3-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out3-7" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out3-8" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out3-9" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out3-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="out3-rnd" class="col-1 text-center text-dark bg-light border border-info px-0">+0</div>
    </section>
    <section class="row align-items-center" id="out4">
        <div id="out4-plyr" class="col-1 text-center text-dark bg-light border border-info px-0">JA</div>
        <div id="out4-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out4-2" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out4-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out4-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out4-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out4-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out4-7" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="out4-8" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="out4-9" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="out4-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="out4-rnd" class="col-1 text-center text-dark bg-light border border-info px-0">+0</div>
    </section>



    <section class="row align-items-center">
        <div id="inh-plyr" class="col-1 text-center text-light bg-dark border border-primary px-0">Plyr</div>
        <div id="inh-1" class="col-1 text-center text-light bg-dark border border-primary px-0">10</div>
        <div id="inh-2" class="col-1 text-center text-light bg-dark border border-primary px-0">11</div>
        <div id="inh-3" class="col-1 text-center text-light bg-dark border border-primary px-0">12</div>
        <div id="inh-4" class="col-1 text-center text-light bg-dark border border-primary px-0">13</div>
        <div id="inh-5" class="col-1 text-center text-light bg-dark border border-primary px-0">14</div>
        <div id="inh-6" class="col-1 text-center text-light bg-dark border border-primary px-0">15</div>
        <div id="inh-7" class="col-1 text-center text-light bg-dark border border-primary px-0">16</div>
        <div id="inh-8" class="col-1 text-center text-light bg-dark border border-primary px-0">17</div>
        <div id="inh-9" class="col-1 text-center text-light bg-dark border border-primary px-0">18</div>
        <div id="inh-sum" class="col-1 text-center text-light bg-dark border border-primary px-0">In</div>
        <div id="inh-tot" class="col-1 text-center text-light bg-dark border border-primary px-0">Tot</div>
    </section>
    <section class="row align-items-center" id="in1">
        <div id="in1-plyr" class="col-1 text-center text-light bg-info border border-info px-0">NG</div>
        <div id="in1-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in1-2" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in1-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in1-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in1-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in1-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in1-7" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in1-8" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in1-9" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in1-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="in1-tot" class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row align-items-center" id="in2">
        <div id="in2-plyr" class="col-1 text-center text-dark bg-light border border-info px-0">RF</div>
        <div id="in2-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in2-2" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in2-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in2-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in2-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in2-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in2-7" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in2-8" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in2-9" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in2-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="in2-tot" class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row align-items-center" id="in3">
        <div id="in3-plyr" class="col-1 text-center text-dark bg-light border border-info px-0">JD</div>
        <div id="in3-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in3-2" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in3-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in3-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in3-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in3-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in3-7" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in3-8" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in3-9" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in3-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="in3-tot" class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row align-items-center" id="in4">
        <div id="in4-plyr" class="col-1 text-center text-dark bg-light border border-info px-0">JA</div>
        <div id="in4-1" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in4-2" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in4-3" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in4-4" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in4-5" class="col-1 text-center text-dark bg-light border border-info px-0">03</div>
        <div id="in4-6" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in4-7" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in4-8" class="col-1 text-center text-dark bg-light border border-info px-0">05</div>
        <div id="in4-9" class="col-1 text-center text-dark bg-light border border-info px-0">04</div>
        <div id="in4-sum" class="col-1 text-center text-dark bg-light border border-info px-0">36</div>
        <div id="in4-tot" class="col-1 text-center text-dark bg-light border border-info px-0">72</div>
    </section>
    <section class="row">
        <div class="col bg-info text-light text-center py-1 mb-1 border">
            Nestor
        </div>
        <div class="col bg-secondary text-light text-center py-1 mb-1 border">
            Ralph
        </div>
        <div class="col bg-secondary text-light text-center py-1 mb-1 border">
            Jimbo
        </div>
        <div class="col bg-secondary text-light text-center py-1 mb-1 border">
            Joey
        </div>
    </section>
</section>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
