@model Pogi.Entities.Tour

@{
    ViewData["Title"] = "Create";
    ViewData["Save"] = "Save";

}
<div class="container">
    <br />
    <h2>Tour</h2>
    <h4>Create</h4>
    <hr />
    <div class="container-fluid">

        <form asp-action="Create">
            @Html.Partial("_EditTourPartial", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        console.info("Hello From Tour Create");



    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
