@model Pogi.Entities.Tour
@{
    ViewData["Title"] = "Edit";
    ViewData["Save"] = "Save";

}
<div class="container">
    <br />
    <h2>Tour</h2>
    <h4>Edit</h4>
    <hr />
    <div class="container-fluid">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TourId" />
            @Html.Partial("_EditTourPartial", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        console.info("Hello From Tour Edit");

        var AllowMultiTeeChecked = $("#AllowMultiTee").prop("checked");
        if (AllowMultiTeeChecked == true) {
            $("#BaseColor").prop("disabled", false);
        }
        else {
            $("#BaseColor").prop("disabled", true);
        }


        $("#AllowMultiTee").change(function () {
            var AllowMultiTeeChecked = $("#AllowMultiTee").prop("checked");
            console.info("Tour AllowMultiTee changed, checked=" + AllowMultiTeeChecked);
            if (AllowMultiTeeChecked == true) {
                $("#BaseColor").prop("disabled", false);
            }
            else {
                $("#BaseColor").prop("disabled", true);
            }
        });


    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
