@model Pogi.Entities.Tour
@{
    ViewData["Title"] = "Edit";
    ViewData["Save"] = "Save";

}
<div class="container">
    <br />
    <h2>Tour</h2>
    <h4>Edit</h4>
    <hr />
    <div class="container-fluid">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TourId" />
            @Html.Partial("_EditTourPartial", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        console.info("Hello From Tour Edit");



    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
