@model Pogi.Entities.Course
<section>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="CourseName" class="control-label"></label>
            <input asp-for="CourseName" class="form-control" />
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-12">
            <hr />
            <label class="control-label">ADDRESS</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="State" class="control-label"></label>
            <select asp-for="State" asp-items="@Html.GetEnumSelectList<StateCode>()"> class="form-control"></select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Zip" class="control-label"></label>
            <input asp-for="Zip" class="form-control" />
            <span asp-validation-for="Zip" class="text-danger"></span>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Country" class="control-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-12">
            <hr />
            <label class="control-label">PAR</label>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="Par01" class="control-label"></label>
                <input asp-for="Par01" class="form-control" />
                <span asp-validation-for="Par01" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par02" class="control-label"></label>
                <input asp-for="Par02" class="form-control" />
                <span asp-validation-for="Par02" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par03" class="control-label"></label>
                <input asp-for="Par03" class="form-control" />
                <span asp-validation-for="Par03" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="Par04" class="control-label"></label>
                <input asp-for="Par04" class="form-control" />
                <span asp-validation-for="Par04" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par05" class="control-label"></label>
                <input asp-for="Par05" class="form-control" />
                <span asp-validation-for="Par05" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par06" class="control-label"></label>
                <input asp-for="Par06" class="form-control" />
                <span asp-validation-for="Par06" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="Par07" class="control-label"></label>
                <input asp-for="Par07" class="form-control" />
                <span asp-validation-for="Par07" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par08" class="control-label"></label>
                <input asp-for="Par08" class="form-control" />
                <span asp-validation-for="Par08" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par09" class="control-label"></label>
                <input asp-for="Par09" class="form-control" />
                <span asp-validation-for="Par09" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="ParOut" class="control-label"></label>
                <input asp-for="ParOut" class="form-control" />
                <span asp-validation-for="ParOut" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="Par10" class="control-label"></label>
                <input asp-for="Par10" class="form-control" />
                <span asp-validation-for="Par10" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par11" class="control-label"></label>
                <input asp-for="Par11" class="form-control" />
                <span asp-validation-for="Par11" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par12" class="control-label"></label>
                <input asp-for="Par12" class="form-control" />
                <span asp-validation-for="Par12" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="Par13" class="control-label"></label>
                <input asp-for="Par13" class="form-control" />
                <span asp-validation-for="Par13" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par14" class="control-label"></label>
                <input asp-for="Par14" class="form-control" />
                <span asp-validation-for="Par14" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par15" class="control-label"></label>
                <input asp-for="Par15" class="form-control" />
                <span asp-validation-for="Par15" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="Par16" class="control-label"></label>
                <input asp-for="Par16" class="form-control" placeholder="01" />
                <span asp-validation-for="Par16" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par17" class="control-label"></label>
                <input asp-for="Par17" class="form-control" />
                <span asp-validation-for="Par17" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="Par18" class="control-label"></label>
                <input asp-for="Par18" class="form-control" />
                <span asp-validation-for="Par18" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="ParIn" class="control-label"></label>
                <input asp-for="ParIn" class="form-control" />
                <span asp-validation-for="ParIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2 pull-left">
                <label asp-for="ParTotal" class="control-label"></label>
                <input asp-for="ParTotal" class="form-control" />
                <span asp-validation-for="ParTotal" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="form-row">
        <hr />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>


</section>