@model Pogi.Models.CourseViewModels.CourseEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<div class="container">
    <h2>Manage Courses</h2>
    <h4>Edit</h4>
    <hr />
    <div class="container-fluid">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Partial("_EditCoursePartial", Model);

        </form>

    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    console.info("Hello From Course Edit");

    $(function () {
        $(".teecolor").each(function () {
            var tee = $(this);
            if (tee.val().toString().toLowerCase().startsWith('gold')) tee.css("background", "gold");
            if (tee.val().toString().toLowerCase().startsWith('red')) tee.css("background", "red");
            if (tee.val().toString().toLowerCase().startsWith('white')) tee.css("background", "white");
            if (tee.val().toString().toLowerCase().startsWith('blue')) tee.css("background", "blue");
        })
        $(".parOut").change(function () {
            var totOut = 0;
            $(".parOut").each(function () {
                totOut = totOut + parseInt($(this).val());
            });
            $("#Course_ParOut").val(totOut);
            $("#Course_ParTotal").val(parseInt($("#Course_ParIn").val()) + parseInt($("#Course_ParOut").val()));

        });
        $(".parIn").change(function () {
            var totIn = 0;
            $(".parIn").each(function () {
                totIn = totIn + parseInt($(this).val());
            });
            $("#Course_ParIn").val(totIn);
            $("#Course_ParTotal").val(parseInt($("#Course_ParIn").val()) + parseInt($("#Course_ParOut").val()));
        });

    })
</script>

}
