@model Pogi.Entities.CourseDetail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CourseDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <input type="hidden" asp-for="Color" />
            <div class="form-group">
                <label asp-for="Yards01" class="control-label"></label>
                <input asp-for="Yards01" class="form-control" />
                <span asp-validation-for="Yards01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards02" class="control-label"></label>
                <input asp-for="Yards02" class="form-control" />
                <span asp-validation-for="Yards02" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards03" class="control-label"></label>
                <input asp-for="Yards03" class="form-control" />
                <span asp-validation-for="Yards03" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards04" class="control-label"></label>
                <input asp-for="Yards04" class="form-control" />
                <span asp-validation-for="Yards04" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards05" class="control-label"></label>
                <input asp-for="Yards05" class="form-control" />
                <span asp-validation-for="Yards05" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards06" class="control-label"></label>
                <input asp-for="Yards06" class="form-control" />
                <span asp-validation-for="Yards06" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards07" class="control-label"></label>
                <input asp-for="Yards07" class="form-control" />
                <span asp-validation-for="Yards07" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards08" class="control-label"></label>
                <input asp-for="Yards08" class="form-control" />
                <span asp-validation-for="Yards08" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards09" class="control-label"></label>
                <input asp-for="Yards09" class="form-control" />
                <span asp-validation-for="Yards09" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards10" class="control-label"></label>
                <input asp-for="Yards10" class="form-control" />
                <span asp-validation-for="Yards10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards11" class="control-label"></label>
                <input asp-for="Yards11" class="form-control" />
                <span asp-validation-for="Yards11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards12" class="control-label"></label>
                <input asp-for="Yards12" class="form-control" />
                <span asp-validation-for="Yards12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards13" class="control-label"></label>
                <input asp-for="Yards13" class="form-control" />
                <span asp-validation-for="Yards13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards14" class="control-label"></label>
                <input asp-for="Yards14" class="form-control" />
                <span asp-validation-for="Yards14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards15" class="control-label"></label>
                <input asp-for="Yards15" class="form-control" />
                <span asp-validation-for="Yards15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards16" class="control-label"></label>
                <input asp-for="Yards16" class="form-control" />
                <span asp-validation-for="Yards16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards17" class="control-label"></label>
                <input asp-for="Yards17" class="form-control" />
                <span asp-validation-for="Yards17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yards18" class="control-label"></label>
                <input asp-for="Yards18" class="form-control" />
                <span asp-validation-for="Yards18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YardsIn" class="control-label"></label>
                <input asp-for="YardsIn" class="form-control" />
                <span asp-validation-for="YardsIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YardsOut" class="control-label"></label>
                <input asp-for="YardsOut" class="form-control" />
                <span asp-validation-for="YardsOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YardsTotal" class="control-label"></label>
                <input asp-for="YardsTotal" class="form-control" />
                <span asp-validation-for="YardsTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slope" class="control-label"></label>
                <input asp-for="Slope" class="form-control" />
                <span asp-validation-for="Slope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTs" class="control-label"></label>
                <input asp-for="CreatedTs" class="form-control" />
                <span asp-validation-for="CreatedTs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedBy" class="control-label"></label>
                <input asp-for="LastUpdatedBy" class="form-control" />
                <span asp-validation-for="LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedTs" class="control-label"></label>
                <input asp-for="LastUpdatedTs" class="form-control" />
                <span asp-validation-for="LastUpdatedTs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
