@{
    ViewData["Title"] = "Confirm email";
}
<br />
<h2>@ViewData["Title"]</h2>

<div>
    <br />
     <p>
        Thank you for confirming your email.
    </p>
     <p>
         Please <a asp-action="Login">click here to log in</a>.
     </p>
</div>
