@model Pogi.Models.CourseHandicapViewModel.CourseHandicapEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <br />
    <h2>Edit</h2>
    <h4>Course Handicap</h4>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h5>
                    @Html.DisplayFor(modelItem => Model.Course.CourseName)
                </h5>
            </div>
        </div>
        <br />

        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseHandicapId" />
            <input type="hidden" asp-for="CourseId" />
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp01" class="control-label"></label>
                    <input asp-for="MenHcp01" class="form-control" />
                    <span asp-validation-for="MenHcp01" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp02" class="control-label"></label>
                    <input asp-for="MenHcp02" class="form-control" />
                    <span asp-validation-for="MenHcp02" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp03" class="control-label"></label>
                    <input asp-for="MenHcp03" class="form-control" />
                    <span asp-validation-for="MenHcp03" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp04" class="control-label"></label>
                    <input asp-for="MenHcp04" class="form-control" />
                    <span asp-validation-for="MenHcp04" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp05" class="control-label"></label>
                    <input asp-for="MenHcp05" class="form-control" />
                    <span asp-validation-for="MenHcp05" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp06" class="control-label"></label>
                    <input asp-for="MenHcp06" class="form-control" />
                    <span asp-validation-for="MenHcp06" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp07" class="control-label"></label>
                    <input asp-for="MenHcp07" class="form-control" />
                    <span asp-validation-for="MenHcp07" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp08" class="control-label"></label>
                    <input asp-for="MenHcp08" class="form-control" />
                    <span asp-validation-for="MenHcp08" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp09" class="control-label"></label>
                    <input asp-for="MenHcp09" class="form-control" />
                    <span asp-validation-for="MenHcp09" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp10" class="control-label"></label>
                    <input asp-for="MenHcp10" class="form-control" />
                    <span asp-validation-for="MenHcp10" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp11" class="control-label"></label>
                    <input asp-for="MenHcp11" class="form-control" />
                    <span asp-validation-for="MenHcp11" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp12" class="control-label"></label>
                    <input asp-for="MenHcp12" class="form-control" />
                    <span asp-validation-for="MenHcp12" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp13" class="control-label"></label>
                    <input asp-for="MenHcp13" class="form-control" />
                    <span asp-validation-for="MenHcp13" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp14" class="control-label"></label>
                    <input asp-for="MenHcp14" class="form-control" />
                    <span asp-validation-for="MenHcp14" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp15" class="control-label"></label>
                    <input asp-for="MenHcp15" class="form-control" />
                    <span asp-validation-for="MenHcp15" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp16" class="control-label"></label>
                    <input asp-for="MenHcp16" class="form-control" />
                    <span asp-validation-for="MenHcp16" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp17" class="control-label"></label>
                    <input asp-for="MenHcp17" class="form-control" />
                    <span asp-validation-for="MenHcp17" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="MenHcp18" class="control-label"></label>
                    <input asp-for="MenHcp18" class="form-control" />
                    <span asp-validation-for="MenHcp18" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <a id="SetHcpEqual" class="float-left text-primary" href="#SetHcpEqual"> Default Ladies Handicap Equal to Men's</a>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp01" class="control-label"></label>
                    <input asp-for="LadiesHcp01" class="form-control" />
                    <span asp-validation-for="LadiesHcp01" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp02" class="control-label"></label>
                    <input asp-for="LadiesHcp02" class="form-control" />
                    <span asp-validation-for="LadiesHcp02" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp03" class="control-label"></label>
                    <input asp-for="LadiesHcp03" class="form-control" />
                    <span asp-validation-for="LadiesHcp03" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp04" class="control-label"></label>
                    <input asp-for="LadiesHcp04" class="form-control" />
                    <span asp-validation-for="LadiesHcp04" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp05" class="control-label"></label>
                    <input asp-for="LadiesHcp05" class="form-control" />
                    <span asp-validation-for="LadiesHcp05" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp06" class="control-label"></label>
                    <input asp-for="LadiesHcp06" class="form-control" />
                    <span asp-validation-for="LadiesHcp06" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp07" class="control-label"></label>
                    <input asp-for="LadiesHcp07" class="form-control" />
                    <span asp-validation-for="LadiesHcp07" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp08" class="control-label"></label>
                    <input asp-for="LadiesHcp08" class="form-control" />
                    <span asp-validation-for="LadiesHcp08" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp09" class="control-label"></label>
                    <input asp-for="LadiesHcp09" class="form-control" />
                    <span asp-validation-for="LadiesHcp09" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp10" class="control-label"></label>
                    <input asp-for="LadiesHcp10" class="form-control" />
                    <span asp-validation-for="LadiesHcp10" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp11" class="control-label"></label>
                    <input asp-for="LadiesHcp11" class="form-control" />
                    <span asp-validation-for="LadiesHcp11" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp12" class="control-label"></label>
                    <input asp-for="LadiesHcp12" class="form-control" />
                    <span asp-validation-for="LadiesHcp12" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp13" class="control-label"></label>
                    <input asp-for="LadiesHcp13" class="form-control" />
                    <span asp-validation-for="LadiesHcp13" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp14" class="control-label"></label>
                    <input asp-for="LadiesHcp14" class="form-control" />
                    <span asp-validation-for="LadiesHcp14" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp15" class="control-label"></label>
                    <input asp-for="LadiesHcp15" class="form-control" />
                    <span asp-validation-for="LadiesHcp15" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp16" class="control-label"></label>
                    <input asp-for="LadiesHcp16" class="form-control" />
                    <span asp-validation-for="LadiesHcp16" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp17" class="control-label"></label>
                    <input asp-for="LadiesHcp17" class="form-control" />
                    <span asp-validation-for="LadiesHcp17" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="LadiesHcp18" class="control-label"></label>
                    <input asp-for="LadiesHcp18" class="form-control" />
                    <span asp-validation-for="LadiesHcp18" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>


        <div>
            <a asp-action="Index" asp-controller="Course">Back to Courses</a>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        console.info("Hello From Course Handicap Edit");
        $(function () {
            $("#SetHcpEqual").click(function (e) { 
                for (i = 0; i < 18; i++) {
                    var hole = i + 1 ;
                    var holex = ("0" + hole).slice(-2);
                    var menHcp = $("#MenHcp" + holex).val();
                    $("#LadiesHcp" + holex).val(menHcp);
                }

            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
