<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">

    <title>POGI</title>
    @*<link href="~/css/site.css" rel="stylesheet" />*@
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrat-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="~/css/blog.css" rel="stylesheet">
    <link href="~/css/album.css" rel="stylesheet" />

    <!-- Light Gallery -->
    <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
    <link href="~/lib/lightgallery/dist/css/lg-transitions.css" rel="stylesheet" />
    <link href="~/lib/lightgallery/dist/css/lg-fb-comment-box.css" rel="stylesheet" />

    <!-- Bootstrap-table -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    @*<link href="~/lib/bootstrap-table-master/dist/bootstrap-table.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link href="~/lib/bootstrap-table-examples-master/assets/examples.css" rel="stylesheet" />

    <!-- User Profile requirement-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">POGI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TeeTime" asp-action="Index">Tee Times</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="scoreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Score" asp-action="Index">
                            Scores
                        </a>
                        <div class="dropdown-menu alert-secondary" aria-labelledby="scoreDropdown">
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Score" asp-action="Index">Logbook</a>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Score" asp-action="Leaderboard">Leaderboard</a>
                            <a disabled="disabled "class="dropdown-item col-sm-offset-1 text-muted"  href="#">Badges</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Score" asp-action="Create">Single Entry</a>
                            <a disabled class="dropdown-item col-sm-offset-1 text-muted" href="#">Multiple Entry</a>
                            <div class="dropdown-divider"></div>
                            <a disabled class="dropdown-item col-sm-offset-1 text-muted" href="#">Live Tournament Scoring</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="galleryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Gallery" asp-action="Index">
                            Gallery
                        </a>
                        <div class="dropdown-menu alert-secondary" aria-labelledby="galleryeDropdown">
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Gallery" asp-action="Swings">Swings</a>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Gallery" asp-action="Members">Members</a>
                            <div class="dropdown-divider"></div>
                            <a disabled class="dropdown-item col-sm-offset-1 text-muted" href="#">Tournaments</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                    <li class="nav-item"><a class="nav-link" href="/forum/cat/marketplace">MarketPlace</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">
                            Admin
                        </a>
                        <div class="dropdown-menu alert-secondary" aria-labelledby="adminDropdown">
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Course" asp-action="Index">Manage Courses</a>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Member" asp-action="Index">Manage Members</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Home" asp-action="About">Development Log</a>
                            @*   <a class="dropdown-item disabled col-sm-offset-1" asp-area="" asp-controller="TeeAssign" asp-action="Index">Assign Tee Times</a>*@
                        </div>
                    </li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 - POGI</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/lib/bootstrat-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrat-4.0.0/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="~/lib/bootstrat-4.0.0/assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>


    <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
    @*<script src="~/lib/lightgallery/lib/jquery.mousewheel.min.js"></script>
        <script src="~/lib/lightgallery/modules/lg-autoplay.js"></script>
        <script src="~/lib/lightgallery/modules/lg-fullscreen.js"></script>
        <script src="~/lib/lightgallery/modules/lg-hash.js"></script>
        <script src="~/lib/lightgallery/modules/lg-pager.js"></script>
        <script src="~/lib/lightgallery/modules/lg-share.js"></script>
        <script src="~/lib/lightgallery/modules/lg-thumbnail.js"></script>
        <script src="~/lib/lightgallery/modules/lg-video.js"></script>
        <script src="~/lib/lightgallery/modules/lg-zoom.js"></script>*@

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    @*<script src="~/lib/bootstrap-table-master/dist/bootstrap-table.js"></script>*@
    <script src="~/lib/bootstrap-table-master/src/locale/bootstrap-table-en-US.js"></script>
    <script src="~/lib/bootstrap-table-examples-master/ga.js"></script>


    <script src="~/lib/JavaScript-Load-Image-master/js/load-image.all.min.js"></script>
     <script>
        //console.info("Hello From Layout");
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            //require(['~/lib/lightgallery/dist/js/lightgallery.js'], function () {
            //    require(["~/lib/lg-zoom/dist/lg-zoom.js", "~/lib/lg-thumbnail/dist/lg-thumbnail.js"], function () {
            //        $("#lightgallery").lightGallery();
            //    });
            //});

        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
    </html>
