<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">

    <title>POGI</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrat-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="~/css/blog.css" rel="stylesheet">

    <!-- Light Gallery -->
    <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
    <link href="~/lib/lightgallery/dist/css/lg-transitions.css" rel="stylesheet" />
    <link href="~/lib/lightgallery/dist/css/lg-fb-comment-box.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">POGI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TeeTime" asp-action="Index">Tee Times</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link disabled dropdown-toggle" id="scoreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">
                            Scores
                        </a>
                        <div class="dropdown-menu alert-warning" aria-labelledby="scoreDropdown">
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Score" asp-action="Enter">Enter Scores</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Score" asp-action="Display">Display Scores</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link disabled" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link disabled" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">
                            Admin
                        </a>
                        <div class="dropdown-menu alert-warning" aria-labelledby="adminDropdown">
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Course" asp-action="Index">Manage Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item col-sm-offset-1" asp-area="" asp-controller="Member" asp-action="Index">Manage Members</a>
                            <div class="dropdown-divider"></div>
                            @*   <a class="dropdown-item disabled col-sm-offset-1" asp-area="" asp-controller="TeeAssign" asp-action="Index">Assign Tee Times</a>*@
                        </div>
                    </li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 - POGI</p>
        </footer>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/lib/bootstrat-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrat-4.0.0/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="~/lib/bootstrat-4.0.0/assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>


    <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
    @*<script src="~/lib/lightgallery/lib/jquery.mousewheel.min.js"></script>
    <script src="~/lib/lightgallery/modules/lg-autoplay.js"></script>
    <script src="~/lib/lightgallery/modules/lg-fullscreen.js"></script>
    <script src="~/lib/lightgallery/modules/lg-hash.js"></script>
    <script src="~/lib/lightgallery/modules/lg-pager.js"></script>
    <script src="~/lib/lightgallery/modules/lg-share.js"></script>
    <script src="~/lib/lightgallery/modules/lg-thumbnail.js"></script>
    <script src="~/lib/lightgallery/modules/lg-video.js"></script>
    <script src="~/lib/lightgallery/modules/lg-zoom.js"></script>*@

    <script>
        //console.info("Hello From Layout");
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            //require(['~/lib/lightgallery/dist/js/lightgallery.js'], function () {
            //    require(["~/lib/lg-zoom/dist/lg-zoom.js", "~/lib/lg-thumbnail/dist/lg-thumbnail.js"], function () {
            //        $("#lightgallery").lightGallery();
            //    });
            //});

        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
    </html>
