@model Pogi.Models.ScoreViewModels.ScoreCreateViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Save"] = "Save";

}
<div class="container">
    <br />
    <h2>Score</h2>
    <h4>Create</h4>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                Entered by
                @Html.DisplayFor(modelItem => Model.EnteredBy.FirstName)
                @Html.DisplayFor(modelItem => Model.EnteredBy.LastName)
            </div>
        </div>
        <br />
        <form asp-action="Edit">
            @Html.Partial("_EditScorePartial", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        console.info("Hello From Score Create");
        $("#MemberId").val(@Model.EnteredBy.MemberId);
        $("#CourseId").change(function () {
            console.info("Course Change id=" + $("#CourseId").val());

            $("#Color").children().remove().end();
            console.info("Colors Cleared");

            var jsonService = "/api/CourseDetail/" + $("#CourseId").val();
            $.ajax({
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                url: jsonService
            }).done(function (response) {
                $.each(response, function (index, value) {
                    //console.info(response[index]);
                    //console.info(response[index].value);
                    //console.info(response[index].selected);
                    $("#Color").append($("<option></option>")
                        .attr("value", response[index].value)
                        .text(response[index].text))
                    if (response[index].selected == true) $("#Color").val(response[index].value);
                });
           });

            //console.info("Return from Ajax");
        });

    </script>
}
